[2016-03-24 15:25] lmao5677 opened #30 "Timer Error"
Whenever I type in "/ready" or click it. I wait for five seconds then I can see that the console gives me an error that the timer failed. (Line 16). What do I do?

[2016-03-24 17:32] func-octo commented on #30
Can you give the entire error? (Highlight, Ctrl + C, Ctrl + V to paste here)

[2016-03-24 17:38] lmao5677 commented on #30
@ScriptnLua
Here is the code

`[ERROR] gamemodes/nzombies3/gamemode/round/sv_round.lua:277: attempt to index global 'RandomBox' (a nil value)
1. SetupGame - gamemodes/nzombies3/gamemode/round/sv_round.lua:277
   1. unknown - gamemodes/nzombies3/gamemode/round/sv_round.lua:16

Timer Failed! [Simple][@gamemodes/nzombies3/gamemode/round/sv_round.lua (line 16)]
`

[2016-03-24 18:51] Zet0rz commented on #30
Sounds like the random box module isn't loading in-game. Try putting this into the server console and tell us what it gives you:
lua_run PrintTabel(RandomBox)
In case this errors (table expected, got nil) try replacing RandomBox with nzRandomBox. Tell us if that worked or still errored.

If it still errors, check your console higher up where it lists the files it loads and see if there's an error

[2016-03-24 19:15] lmao5677 commented on #30
@Zet0rz

It still gives me an error for RandomBox and nzRandomBox

I can't seem to find any errors when it launches. Have a look here
`nZombies 3.0 Loading...
 ** Client List **
Constructing: config
Including: config/sh_constructor.lua
Constructing: curves
Including: curves/sh_constructor.lua
Including: display/cl_contextmenu.lua
Including: display/cl_fonts.lua
Including: display/cl_gamemodehooks.

[2016-03-24 19:56] func-octo commented on #30
Try Zet0rz' suggestion, except type Table instead of Tabel

@Zet0rz

But instead do: lua_run PrintTable(RandomBox)

[2016-03-24 20:16] lmao5677 commented on #30
@ScriptnLua

I tried it now, but it gives me an even bigger error
` [ERROR] lua/includes/extensions/table.lua:711: bad argument #1 to 'pairs' (table expected, got nil)
1. pairs - [C]:-1
   1. GetKeys - lua/includes/extensions/table.lua:711
   2. PrintTable - lua/includes/util.lua:42
      1. unknown - lua_run:1 `

[2016-03-24 20:34] Zet0rz commented on #30
@ScriptnLua
Thanks for pointing out that typo :)

@lmao5677
The list you gave me is the client side list but the error seems to be server side. Try and give me the server side list. There may be an error there. And are you running on a dedicated server or a listen server?

[2016-03-24 21:32] lmao5677 commented on #30
@Zet0rz I am hosting a listen server. How do you find the server side list? Is it on the console, or do I have to do something for it to be visible?

[2016-03-24 22:00] Zet0rz commented on #30
@lmao5677 If you are on a listen server, it'd be the blue text in your console as long as you're hosting it.

[2016-03-25 02:10] func-octo opened #32 "The Replacements Approach..."
You've already seen two of them. Now the rest are coming...

[2016-03-25 09:38] lmao5677 commented on #30
@Zet0rz
I have found the two errors

[AddCSLuaFile] Couldn't find 'function_override/sh_constructor.lua' (@gamemodes/nzombies3/gamemode/loader.lua (line 30))
Couldn't include file 'function_override\sh_constructor.lua' (File not found) (@gamemodes/nzombies3/gamemode/loader.lua (line 31))

[AddCSLuaFile] Couldn't find 'mainmenu/sh_constructor.lua' (@gamemodes/nzombies3/gamemode/loader.lua (line 30)

[2016-03-25 10:19] Zet0rz commented on #30
@lmao5677 Those should just be because those files are empty. No other errors anywhere? Try the lua_run PrintTable(nzRandomBox). Also check your folders and look for nzombies/gamemodes/nzombies3/gamemode/random_box/sh_constructor.lua and see if the tables are even defined.

[2016-03-25 10:20] Zet0rz commented on #32
Are you talking about perk icons? If so, I noticed especially on the Who's Who icon that it was kinda rough. Still beats the blurry but try and see if you can smooth it out a bit more :P

[2016-03-25 10:28] lmao5677 commented on #30
@Zet0rz

It gives me this

`[ERROR] lua/includes/extensions/table.lua:711: bad argument #1 to 'pairs' (table expected, got nil)`
  `1. pairs - [C]:-1`
   `2. GetKeys - lua/includes/extensions/table.lua:711`
    `3. PrintTable - lua/includes/util.lua:42`
    `4. unknown - lua_run:1`

This is the code
 `//Main Tables`
 `nz.RandomBox = {}`
 `nz.RandomBox.Functions = {}`
 `nz.RandomBox.Data = {}`

 `/

[2016-03-25 10:58] lmao5677 commented on #30
Nevermind, I'm closing this issue because now the issue has been fixed. I didn't install the addon right.

[2016-03-25 10:58] #30 closed, assigned to nobody

[2016-03-25 12:17] lmao5677 opened #33 "Points Bug"
I am currently experiencing a bug where I shoot the zombies, but they don't award me points? Is it something I have to edit in the config? I have checked the console to look for errors, but I find nothing that has anything to do with points.

[2016-03-25 12:20] func-octo commented on #32
Yeah, the perk icons :). Also, thanks for the feedback! I'll see what I can do about that.

[2016-03-25 12:22] func-octo commented on #33
I would check the config, but if you don't see anything there about awarding 10 points on attack just comment that it's still broken and Zet0rz can help you (much more than I :) )

[2016-03-25 12:27] lmao5677 commented on #33
I've checked my config and I can see that it gives 10 points but I see that it isn't working

[2016-03-25 12:56] func-octo commented on #33
What weapon(s) are you trying to use with this?

[2016-03-25 12:56] func-octo commented on #33
Is it the weapons, or do all weapons do this?

[2016-03-25 13:39] lmao5677 commented on #33
I think all the weapons do this. I am using the WWII Weapons Pack and FAS2 guns aswell.

[2016-03-25 16:22] func-octo commented on #33
Hmmm... Sounds like we'll have to wait for Zet0rz. :\

[2016-03-25 16:24] func-octo commented on #32
https://drive.google.com/drive/u/1/folders/0B1xHaGAsFiwgSnJJeXUtaDVfSGc

This is where I'll be keeping the icons, so feel free to take the ones I have now so I don't have to open a pull request for all of them. I should have all of them in there by April 4. As always, tell me what needs fixing, and happy coding!

[2016-03-25 16:26] func-octo commented on #30
By the way, never do unbind all, its hard to reset it...

[2016-03-25 16:28] func-octo opened #34 "Zombie heads are attacking me!"
No idea whether it's a fluke or a bug, but this has only happened once. No errors in the console to report.

So when one zombie was emerging, it got stuck in the ground so the head was showing, but it still came after me regardless. Anything in the zombies that could cause the model to be lower than the entity?

[2016-03-25 16:36] func-octo commented on #32
P.S. Don't worry if some of them dont look right, I made them so that they look right at 25% magnification in photoshop, and have tested them in-game personally :) :+1:

I also must improve my skills before being able to completely redo speed.png or revive.png because of the gradients.

[2016-03-25 16:47] lolleko commented on #34
Did you see the zombie emerging, or did you just see the head?

[2016-03-25 16:48] func-octo commented on #34
It emerged as it should, then in a teleporting kind of manner, the model of it went into the ground leaving only the head showing.

[2016-03-25 18:20] Zet0rz commented on #33
Are you using custom zombie entities? And do you even damage them (will they die?)?

[2016-03-25 18:23] Zet0rz commented on #30
You were running an older version of the gamemode, we are no longer using nz.Stuff.Functions tables for most modules, instead only a single table "nzStuff" (replace stuff with any modules identifier, eg RandomBox). Redownloading the latest version was what fixed it.

[2016-03-25 20:02] Zet0rz commented on #33
You can code your own zombie entities or use other npcs (if you edit the code) other than what comes with the gamemode. But if you haven't touched it, that shouldn't be it.
I know you can shoot them, but will they die? If they don't take damage, they don't give points. However if they do die, then that's not it. If so, try reinstalling the latest version. I get points when I play.

[2016-03-25 20:12] lmao5677 commented on #33
@Zet0rz

They do die. I have seen them die.
I have also tried reinstalling the latest version over and over, but nothing is working.

[2016-03-26 12:35] lmao5677 commented on #33
Also, I want to point out, if I kill myself or dropout, the game starts to freeze.

[2016-03-26 13:08] Zet0rz commented on #33
It really sounds like you just have a really buggy installation, none of this happens for me or reportedly from any of my other playtesters. Try putting this in console:
`lua_run hook.Add("EntityTakeDamage", "Testhookthing", function(ent) print(ent, "taking damage") end)`
Then start shooting zombies again. Check if your console prints out the entity and "taking damage" every time or not. After tha

[2016-03-26 13:40] lmao5677 commented on #33
@Zet0rz
It just prints out

`hook.Add("EntityTakeDamage",Testhookthing", function(ent) print(ent, "taking damage") end)...`
When I shoot a zombie, nothing prints out in the console and it does the same thing when a zombie hits me.

[2016-03-26 14:17] Zet0rz commented on #33
You must have an addon that then overrides EntityTakeDamage and returns a value (stopping the rest of the hooks from running). Disable all your addons that you think might do this and try again. If you find the culprit, let me know which one it is.

[2016-03-26 15:14] lmao5677 commented on #33
@Zet0rz
Its now working. I just completely disabled all my addons and kept the fas2. Case Closed, thank you!

[2016-03-26 15:14] #33 closed, assigned to nobody

[2016-03-26 15:29] Zet0rz commented on #34
Seems like it might have been a 1-time bug. Even so, this is more engine-handled stuff so it's nothing we can fix without completely removing the underground animations. Reopen another issue if you get this again associated with a lua error.

[2016-03-26 15:29] #34 closed, assigned to nobody

[2016-03-27 19:27] func-octo opened #36 "Zombie Stiffy Pose"
It appears that the zombies have no idle/standing animation, as they go stiffy pose when standing still. All other animations work as said.

[2016-03-27 20:12] Zet0rz commented on #36
Yep, I didn't compile an idle animation (kinda forgot in the rush) and I don't have my desktop with all my things with me. They'll be added when I come home along with some jumping and dropping ones :)

[2016-03-27 20:31] func-octo commented on #36
Until then, it looks kinda funny. It's like they forgot what they were just doing xD

[2016-03-27 20:56] func-octo opened #37 "(Please tag with unrelated) USB 3.0 External Hard Drive"
I have a 300 GB usb 3.0 sata bridge external hard-drive. I have a motherboard with 3.0 enabled and ready, and have tried this with many computers, with and without 3.0 enabled.

When I transfer any sort of file/folder/zip, I get speeds of 311 KB/s. This is unacceptable. Do you know of a way to fix this issue? I haven't tried reformatting it yet.

[2016-03-27 21:47] Zet0rz commented on #37
This is probably not the place to ask for this type of stuff lol
And no, I don't really know. Check your CPU usage I guess?

[2016-03-27 21:49] lmao5677 opened #38 "(UNRELATED) Three Questions"
Since there isn't anywhere else to comment on, I would like to ask three questions.
1. Custom Names (Pack A Punch)
   When you pack a punch a gun, it changes the name. I'd like to add a few extra pack a punch names to other guns. Is there a way of doing this by editing a sort of file?
2. Zombies that attack.
   So I went and download the new nZombies. (With the one inch punch and monkey bombs) and

[2016-03-27 21:54] Zet0rz commented on #38
1) Yes, you can add your own custom Pack a Punch names without editing the files by calling the function in any lua file (e.g. one in autorun). It looks like this:
`AddPackAPunchName(class, papname)`
You can replace "class" with a display name (Like "Ray Gun") and it will apply to all guns with this display name, but names assigned to classes take priority. See more in gamemode/display/cl_papnames

[2016-03-27 21:55] lmao5677 commented on #38
Ok, cheers for all of these questions. Closing...

[2016-03-27 21:55] #38 closed, assigned to nobody

[2016-03-27 21:56] Zet0rz opened #39 "Monkey Bomb models, sounds, complete"
Finish the Monkey Bomb weapon by giving it a model, viewmodel (with animations), sounds, and an HUD icon.

[2016-03-27 21:58] Zet0rz opened #40 "Final Zombie Models"
Get the rest of the animations as well as fix the wierdly black bump maps (anyone good at texturing?)
Animations needed are:
- Idle
- Barricade jumping (just need to code these in)
- Jump and drop

Also use longer fadein and fadeout times to blend better.
Zombies also need hit groups to actually be headshot-able again.

[2016-03-27 21:59] Zet0rz opened #41 "Hellhounds"
We'll need models, sounds, and the entity code itself.

[2016-03-27 22:02] Zet0rz opened #42 "Balancing and Playtesting"
Balance changes might need to be taken before workshop release. Specifically, these curves are the ones we can balance:
- Zombie Speed
- Zombie Health
- Amount of zombies
- Zombie max and min speeds as well as variance in the speeds
- Player sprint and walk speeds
- Player sprint stamina
- Player health regen times and delays
- Perk damages and radiuses (Electric Cherry reload and PhD Flopper expl

[2016-03-27 22:04] Zet0rz commented on #42
I just recently changed the health curves to be +10% health each round, rather than a much lower and even declining curve. The original in CoD works with 100 base health, +100 each round until round 10, then +10% (steeper curve than what we have in nZombies)

[2016-03-27 23:52] minin43 commented on #42
Hey Zet0rz, I'm Deathking on steam. I'm close to being ready to do some play testing with the maps I've made, but the game keeps crashing whenever all players go down (both client and server). I don't know know why it's happening, but I don't know if it's caused by the gamemode code itself or something wrong with an entity.

[2016-03-27 23:55] lolleko commented on #42
I think i encountered the same bug, but just once. We will have to debug the issue. It seems to be dedicated server only, which is pretty weird. Could be related to the new targeting system.

[2016-03-28 00:21] minin43 commented on #42
No, it was for sure happening solo, when I was testing the monkey bomb/1-inch punch. I had every entity on the map tho, so idk.

[2016-03-28 00:35] minin43 commented on #42
Also, on the topic of the sprinting:

Please increase sprint time by ~1 second. Maybe .5 seconds.

Don't know if this is a bug or feature, but continuing to hold down sprint after you run out of stamina slows you down enough that it's slower than regular walking.

[2016-03-28 00:39] minin43 commented on #41
Here's the "FETCH ME THEIR SOLES" sound that plays. The quality isn't the best, but for the life of me I couldn't find one that sounded any better. https://www.dropbox.com/s/4lu5hsejtlewd5s/fetchmetheirsoles.wav?dl=0

[2016-03-28 00:40] minin43 commented on #41
Here's a link to the announcer that screams "FETCH ME THEIR SOLES" during the round start. It isn't the best quality, but I couldn't find a better sounding one for the life of me. https://www.dropbox.com/s/4lu5hsejtlewd5s/fetchmetheirsoles.wav?dl=0

[2016-03-28 00:42] minin43 opened #43 "Power Switch Activation Noise"
Please add in a sound to the power switch that plays upon activation. I couldn't find a great noise, but these one suffices. https://www.dropbox.com/s/opbqz0liurr4q44/electricity.wav?dl=0

[2016-03-28 01:55] func-octo commented on #37
Nevermind, just had to enable write-caching

[2016-03-28 01:56] #37 closed, assigned to nobody

[2016-03-28 01:57] func-octo commented on #42
Stamina on players should be increased 25 - 33% so we can run more than 10 feet.
Walk speed should be 5 - 10% more and sprint speed should be 1.8x walk speed.

[2016-03-28 02:59] minin43 commented on #39
You could probably use this and just give credit to the creator, it might save a lot of time: http://steamcommunity.com/sharedfiles/filedetails/?id=207347505

EDIT: I see you've made a comment asking about it. Yea, you can use the addon. Just make sure you give proper credit to him when the workshop version of nZombies has been released and you'll be fine

[2016-03-28 05:25] minin43 opened #44 "Invisible Fence Bug"
https://youtu.be/D_S3c0dJkUs

Title/video description says all.

[2016-03-28 05:34] minin43 opened #45 "Gameplay footage of my nearly-finished maps."
You may noticed lots of frame clipping and bad frame drop. Those are issues with the gamemode.

This map is mur_future_apt, or, Future Apartment. It uses CSS for some props and textures, although the map IS playable without CSS. Just not recommended. https://youtu.be/CrW1tgUJDhY

I'll upload some other gameplay footage here as well, to provide example gameplay for all of you to look at. You may no

[2016-03-28 08:53] Zet0rz commented on #43
I have a lot of sounds, I can get ahold of them when I'm home :)

[2016-03-28 08:57] Zet0rz commented on #42
I was thinking of changing walk speed to 200 (currently 150). Sprint is 300. And I agree with a bit more stamina.

[2016-03-28 09:05] Zet0rz opened #46 "FAS:2 Weapons to also have attachment system"
Just like CW2, FAS2 should be integrated into the attachment system with Pack a Punch.

[2016-03-28 09:22] Zet0rz opened #47 "Ready List improvements"
The list of ready players in the main menu need to have a few changes. Currently players don't even show up until they click Ready first. The ready list need to display all players fully joined as Not Ready, but need to set them as Spectating (or disappear from the list) when set as spectator. Also players not ready on game start should not join; they should need to drop in mid-game (to prevent AF

[2016-03-28 10:31] Zet0rz opened #48 "What ConVars/Console Commands do you want?"
So for the upcoming workshop release, which console commands do you want added? Currently we have these:
- nz_outlinedetail [0-4]
  Sets the amount of clone models that are created to generate the outline of a wall buy, lowering this may help reduce lag from stencils on lower end PCs. Max is 4, 0 disables the outline alltogether and uses the model itself instead.
- nz_bloodoverlay [0/1]
  Decides

[2016-03-28 10:34] Zet0rz commented on #44
With the latest update, the function door:IsLocked() will return false by default on entites that are not registered into the door system. This should prevent this error alltogether and will cause these entities to always render (like they should), but may not fix the underlying problem of them being reset to none on cleanup.

Are those fences registered as doors or just random props? And are actu

[2016-03-28 10:37] Zet0rz opened #49 "Who's Who respawn function improvement"
Currently, it just picks a random navmesh within a certain range of your dead clone, but these can be both outside the playing area, as well as get you stuck in places. The way this works should be changed.

I'm thinking using the special spawn positions that we will later add for the Hellhounds.

[2016-03-28 10:42] Zet0rz opened #50 "Improved Movement on Random Box Weapons and Zombie Ragdolls"
Currently these use a timer that sets the position every 0.1 seconds or so. Instead, they should do what the PaP flying weapon entity does; by setting no gravity and setting a constant speed.

[2016-03-28 11:39] Zet0rz commented on #46
This is now implemented.

[2016-03-28 11:39] #46 closed, assigned to Zet0rz

[2016-03-28 11:47] Zet0rz commented on #45
I see some frame drops, but I can't tell whether it's just the video footage or the gameplay. If you can, it'd help if you can specify when these frame drops happen. But the map looks good and the gameplay looks awesome :D

[2016-03-28 11:50] Zet0rz opened #51 "Icon and Logo for Main Menu"
These need to be made. For the logo, I was thinking a bloody font saying "nZombies". The icon could fittingly be the same just with "nZ"

[2016-03-28 12:25] lmao5677 opened #52 "Mystery Box"
So I downloaded the next new version of nZombies, but whenever I use the box, it keeps giving me teddy bears? How do I stop this and I have checked in advanced settings to see that the weapons are in there.

[2016-03-28 12:32] Zet0rz commented on #50
Partially done, random box now has this improvement

[2016-03-28 12:33] Zet0rz commented on #52
Fixed with latest update. I set it to 100% for debugging but forgot to change it back lol

[2016-03-28 12:33] #52 closed, assigned to nobody

[2016-03-28 13:07] func-octo commented on #47
One problem: only one person can do the first round while others drop in the next since even if you hit ready within 5 seconds, you don't join, just the person who hit ready first.

[2016-03-28 13:35] Zet0rz commented on #47
So a bug as in no other players can ready after the game triggers its start countdown?

[2016-03-28 14:20] minin43 commented on #45
Whenever I look down the long hallway I experience notable frame drop. What's the thingy thing on gmod that shows your framerate?

Also: watch the very end of the video. This needs a fix and fast.

[2016-03-28 14:25] minin43 commented on #51
I have an artistic friend, I might be able to provide this for you. She's very skilled but doesn't really go logos, so only "might."

[2016-03-28 14:27] minin43 commented on #50
If it helps with framerate, mystery box likes to cause frame stuttering, then freakin' sweet.

[2016-03-28 14:28] minin43 commented on #49
Just have them respawn at a regular spawn position. Otherwise there's always a slight chance you'll spawn in an area you can't get to your body from. In the case your body is extremely far away from where you spawn, just increase the death timer of the body.

[2016-03-28 14:31] minin43 commented on #42
Go ahead and change it and I'll see what effect it has on the gameplay. But please fix the issue of "Don't know if this is a bug or feature, but continuing to hold down sprint after you run out of stamina slows you down enough that it's slower than regular walking."

[2016-03-28 14:32] Zet0rz commented on #49
I just added Special Spawnpoints along with its tool. This one is needed for Hellhounds anyway, but we can use the same ones with Who's Who respawning. It also has links like normal spawnpoints, meaning you won't respawn behind a closed door.

[2016-03-28 14:32] #49 closed, assigned to nobody

[2016-03-28 14:34] Zet0rz commented on #50
The frame rate of the mysterbox is likely because of its model cycling; if it comes across a non-precached model, it might lag while precaching the model. This would only happen once per model, and only if it isn't precached.

Should we make all guns precached at the beginning? This might cause a long lag when joining the game (it's the same lag, just at a different time).

[2016-03-28 14:37] Zet0rz commented on #42
@minin43 The sprint module just sets your sprint speed to that of ply:GetWalkSpeed() which is literally your non-sprint speed. It might seem slower, but unless you have an addon that messes with it and/or your guns have a weight slowing system, it will be that of your walk speed and not slower.

[2016-03-28 14:38] minin43 commented on #48
If you could make the on-map-join UI that lists off the ready button, workshop button, and the cog wheel/x-button more used, and add in an "options" button on it that sets these convars automatically, so you don't have to type it into console, that'd be awesome.

I really like that UI whenever you first join a map, but it's currently kinda buggy and you only ever see it the once you join in. If it

[2016-03-28 14:40] minin43 commented on #42
Ah, CW2.0 has a weight slowing system. Could you just set it to what the default walkspeed is and not use that function? It'd be quite a bitch to go through and for EVERY gun, remove the weight system code. If not, I can work with it.

[2016-03-28 14:41] Zet0rz commented on #42
I'll look into a way of incorporating this speed into the walk speed; it would be cool if you actually do slow down from heavy weapons. But shouldn't this not slow you down further, but rather actually make you faster? (Since I bypass the weapon mod's slow?)

[2016-03-28 14:42] minin43 commented on #50
Precaching it on spawn might work the best. But then I also noticed the it cycles through EVERY gun model on the server. Could you limit it to cycle only through the guns enabled for the mystery box?

[2016-03-28 14:43] minin43 commented on #42
In retrospect, you are correct. But this is coding, and nothing ever works as intended.

[2016-03-28 14:51] Zet0rz commented on #42
Yeah I see the code doing that. It's because it sets the max possible speed to that of the run speed, but minus the gun's speed removal. Since the sprint speed is set down to walk speed (the only thing that can prevent sprinting), it will lower your speed below even that. But as soon as you let go, your sprint speed is set back up meaning your _max_ speed will not be lower than your walk.

I can f

[2016-03-28 15:01] Zet0rz commented on #42
Alright sprint changed:
**\- Walk Speed changed from 150 to 200**
**\- Stamina Loss changed from 2.5 to 2**
**\- CW2 Weight Speed now works with our sprint system (I overwrote it)**

[2016-03-28 15:01] Zet0rz commented on #50
Yeah I was thinking that too. Will look into that.

[2016-03-28 15:03] Zet0rz commented on #51
I can also handle it myself when I'm home, but feel free to link some images here if you think we should use them (no promises though)

[2016-03-28 15:05] minin43 commented on #51
Will do

[2016-03-28 15:05] minin43 commented on #50
It might limit it so that the lag isn't as nearly as bad, using only mystery-box-only models

[2016-03-28 15:06] Zet0rz commented on #45
Since I don't have any dedicated server setup and it seemingly only happens on that, could you help me out with debugging that crash?

Take a clean config with only player and zombie spawn, play, die, see if it crashes. Then one by one with each entity, add that single entity and try again until we find out which one causes the crash. Then tell me which one that was. Try removing all by the crashi

[2016-03-28 15:06] minin43 commented on #42
Sweet sweet. Will definitely see how this affects gameplay.

[2016-03-28 15:09] minin43 commented on #45
The crashing happens on both single and multiplayer on these configs when you've purchased a new gun, either on the wall or through mystery box. I have tested it, the game DOES NOT crash if m-box/wall guns haven't been bought (as in: if everyone still has their starting pistol).

Isn't there some way to make the server print out it's errors into a notepad document to help with server crashing debu

[2016-03-28 16:23] lolleko commented on #47
That is not really a bug once the game started you can't join anymore, thats how it's supposed to be. Maybe increasing the countdown is something we could do.

[2016-03-28 16:25] minin43 commented on #47
No post round drop-ins?

[2016-03-28 16:29] minin43 commented on #44
@Zet0rz They are NOT being considered doors, they are being considered a placed prop. All other placed props are invisible as well.

[2016-03-28 17:09] lolleko commented on #47
Fixed the playerlist on the main menu not showing unready players.
Allow dropins into the preparing phase of the first round.
Pull req. #53

[2016-03-28 17:15] lolleko commented on #48
Pretty much everything from the config file [(config)](https://github.com/Zet0rz/nzombies/blob/Master-Changes/gamemodes/nzombies3/gamemode/config/sh_constructor.lua), that does not have to be lua (all single values integers/bools/floats/strings) should be a cvar.

[2016-03-28 17:18] lolleko opened #54 "Change back to gamemode format"
The next gmod update (planned release: 29.3) will fix gamemode content and entity mounting for gamemodes inside the addons folder.

TODO:
Change back the structure of the mode to use "content" and "entities" directories inside gamemode, rather than the lua/entities workarround we use now.

[2016-03-28 17:33] minin43 opened #55 "Open Playtesting?"
Anyone got any times of the day they'd be open for some playtesting? I live in central U.S., so I'm on CST time. I'm home by 3:20-ish (or 10:20-ish for you, Zet0rz).

[2016-03-28 19:01] lmao5677 commented on #55
I live in UK, so I do get alot of time. I don't really mind play testing because I work alot with making maps.

[2016-03-28 19:13] Zet0rz commented on #47
If someone readies and triggers the 5-second countdown, are other players still able to ready and join within those 5 seconds?

[2016-03-28 19:15] Zet0rz commented on #44
Can you confirm this is still the case with the latest update? And is it only for that config (will saving a new config fix it?)

[2016-03-28 19:16] Zet0rz commented on #45
There should be a console command to start logging the console, but from my tests, this also gets cut off by a crash so I'm not sure you can use it.

[2016-03-28 20:13] minin43 commented on #55
Feel free to add me on Steam (Steam name: Deathking15, IRL name: Logan) and I'll give you an invite whenever the server's up.

[2016-03-28 20:16] lmao5677 opened #56 "Invisible Perk Bottle"
So whenever I drink a perk a cola, the bottle is invisible. Any weird bug or was it just testing again? I restarted the server and saw it happen again.

[2016-03-28 20:16] minin43 opened #57 "PaP weapon names?"
I remember reading somewhere that you can add in gun's PaP names outside of the cl_papnames file in the display folder, but I don't remember much else. Can I get clear, concise details about it, so there's no more guessing?

[2016-03-28 20:16] lmao5677 commented on #55
Alright, thanks.

[2016-03-28 20:19] lmao5677 commented on #57
The code was `AddPackAPunchName(class, papname)`

The class was the name of the weapon. Example: fas2_glock20 then papname was the name that you would want it to change. (Of Course)

[2016-03-28 20:19] minin43 commented on #56
It's an addon confliction. I don't know with what addon, but I experience the same issue on my main PC, and it was fixed on my laptop (which had pretty much no addons on it).

[2016-03-28 20:19] lmao5677 commented on #56
Ok, I'll see what addons to disable then.

[2016-03-28 20:20] minin43 commented on #57
And does the file this code is in need to be in a specific folder? I remember mentions of the autorun folder.

[2016-03-28 20:20] minin43 commented on #56
Lemme know which one seemed to fix it so I can fix it myself.

[2016-03-28 20:22] lmao5677 commented on #56
Oh, I just disabled all the addons entireley, but kept the fas2 guns.

[2016-03-28 20:22] #56 closed, assigned to nobody

[2016-03-28 20:25] minin43 opened #58 "GetMaxRunSpeed returns a nil value"
I experienced this bug being spammed into client console with the newest update.

[2016-03-28 20:32] lmao5677 commented on #57
I don't think so. Thats atleast all I could remember. I'm pretty sure you are able to just run the command and let it do its thing

[2016-03-28 20:51] lmao5677 commented on #55
Btw @minin43

I have ttt_der_riese_b5 map if you would like to try it out. I can give you the config if you would like to take a test try.

Features:
Teleports that you can actually link! (They don't open the door to the pack a punch, it opens by spending it for 2500 points.)
Easter Egg (With the actual song!)
All the perks. (All of them, which includes black ops 1 and 2 perks)

[nz_ttt_der_riese_

[2016-03-28 20:56] minin43 commented on #55
@lmao5677 Yea I'll give it a shot!

[2016-03-28 21:03] lolleko commented on #47
Yes? It has always been that way and i didn't change anything related to it.

[2016-03-28 21:03] lolleko commented on #58
Client or serverside? Nvm found the issue.

[2016-03-28 22:40] Zet0rz commented on #58
It might be different since I tested it in single player, but this value should always be set during gameplay? The value is set in the player classes as one spawns, but it may be because of a lack of networking. Was this client side errors?

[2016-03-28 22:41] Zet0rz commented on #57
It can be any file (this is the case with any lua function). I only mentioned autorun because that is the go-to spot for scripts that auto-load in-game.

[2016-03-28 22:43] Zet0rz commented on #55
I had plans on making an official config on ttt_der_riese with a map script that will make PaP actually open by using all three teleporters. Although I won't be making any official configs until release, so don't expect it for playtesting :P
I noticed though that the map is missing a whole lot of barricade windows. Does your config still work good despite this?

[2016-03-28 22:44] #57 closed, assigned to nobody

[2016-03-29 00:44] minin43 commented on #58
@Zet0rz It was a clientside error running on a dedicated server.

[2016-03-29 04:25] minin43 opened #59 "New Gameplay Footage on Infected Facility"
It's a bit longer. It's a more open map so it makes it easier to survive.
https://youtu.be/EFsSPZMECxM

[2016-03-29 08:16] Zet0rz commented on #58
Did an experimental fix. It tries to get GetMaxRunSpeed if it exists, but if not, it goes to the player's current player class. But since this is in a move function which is predicted, I don't know if baseclass.Get and player_manager.GetPlayerClass are heavy functions to run multiple times. I may try further later.

[2016-03-29 09:26] Zet0rz commented on #58
I can change it so that it stores the max speed in a local variable and then update it every time you spawn? Should make it only have to fetch the baseclass once at spawn. But I have no clue if this is more optimized, if the baseclass thing is nothing at all.

[2016-03-29 09:46] Zet0rz commented on #58
After looking it up, it seems like it just gets a network ID of a player's class, gets the name via a table, then gets the class table from that. It's basically the same as this:
`baseclasses[stringtable[ply:GetClassID()]].RunSpeed`
(if the tables were called that)

[2016-03-29 09:47] Zet0rz commented on #58
Before I close this, let me know if this fix works

[2016-03-29 09:54] Zet0rz commented on #47
Alright great, this works, but I still think w're missing a sitting out system. Basically, we should allow players to set themselves as spectators even if no game is going on, and then they'll show up as "Name - Spectating" in the ready menu, and then they won't count towards the minimum ready percentage of 0.3.
We should also add an AFK thingey to automatically set an AFK player to spectator so h

[2016-03-29 10:01] Zet0rz commented on #59
Noticed a new crash, but this time it happened before you died, just when you got hit? Also we should keep this discussion in your older thread so we have it in a single issue.

[2016-03-29 10:50] Zet0rz opened #60 "Crash on Killed"
Let's create a dedicated issue about this. I also just experienced this while testing myself on a single player listen server, so it is not a dedicated server only bug. I will continue to look into why, but let's discuss it fully here.

[2016-03-29 10:50] Zet0rz commented on #45
Closing this as I opened a dedicated issue about it.

[2016-03-29 10:50] #45 closed, assigned to nobody

[2016-03-29 10:51] Zet0rz commented on #59
Closing this as I have created a dedicated issue to this crash.

[2016-03-29 10:51] #59 closed, assigned to nobody

[2016-03-29 11:17] Zet0rz commented on #60
Seems to in fact be related to wall buys if they have been bought (the models are rendering). Will need further testing to pinpoint the cause.

[2016-03-29 13:07] Zet0rz commented on #60
It seems to require a random box on the map as well. I tried 16 wall buys all bought without a crash, but once I added the random box, I did. Later though, a random box alone did not crash, even if I bought it many times.

[2016-03-29 13:30] lmao5677 commented on #55
@Zet0rz

I have no idea. Didn't the barricades already load? If they haven't then you can just replace them. Other than that, it works fine for me.

[2016-03-29 13:59] Zet0rz commented on #55
Not barricades as in the plank fence walls, I meant as in actual map windows. There are several holes and even whole areas missing from the map itself where we could've placed zombie spawns, most of which would actually make a huge change in map balance.

[2016-03-29 14:22] lmao5677 commented on #55
@Zet0rz
Oh, ok.

I know I've missed one area where the zombie is meant to spawn, I just replaced that with 2 perks, staminup and PHD. We might need to finish up those changes then.

[2016-03-29 14:28] minin43 opened #61 "Gameplay Footage"
This isn't meant to be a bug report or anything. This is purely for me to post gameplay footage. Reference this footage when you need to study gameplay. If you close this as well, I'll just assume you don't want this on the issues page, otherwise:

mur_future_apt - https://youtu.be/CrW1tgUJDhY
zs_infected_facility - https://youtu.be/EFsSPZMECxM
gm_scrapmetal - https://youtu.be/kjfA684k4Fs

[2016-03-29 14:54] minin43 commented on #48
Can we get a list of commands for things like giving ourselves money, giving ourselves specific guns, turning on power, giving ourselves a specific perk, etc?

[2016-03-29 14:54] minin43 commented on #60
When it crashes on my dedicated server, I don't believe anything gets thrown into console. I will double check tonight, and I will also look into rcon logging. This all seems very strange.

[2016-03-29 15:17] Zet0rz opened #62 "Coroutine across C-call boundary error on Despawn"
This error happens whenever a zombie has been stuck for long enough to disappear. It will likely be fixed by adding a coroutine.yield somewhere before the entity being removed.

[2016-03-29 15:19] Zet0rz commented on #60
It seems to be one of those gmod-related crashes (no gamemode errors), but which happens when the gamemode does a certain thing. If we can figure out what exactly it is, we might be able to avoid it for now, but ultimately it's likely a bug in gmod itself.

[2016-03-29 15:22] Zet0rz commented on #48
@minin43 Should be fairly easy, I already do this all the time with lua_run code, so it's very simple. We can look into adding those, they're helpful for testing.
For now, you can do this in console:
`lua_run Entity(1):GivePoints(number)`
`lua_run Entity(1):GivePerk("perkid")` (list of IDs in the perk file)
`lua_run nz.Elec.Functions.Activate()`
`lua_run Entity(1):Give("weapon_class")`

[2016-03-29 15:52] func-octo commented on #55
@lmao5677

Map works great :)

[2016-03-29 15:56] lmao5677 commented on #55
@ScriptnLua

Thank you for your positive feedback :D

[2016-03-29 16:11] minin43 commented on #60
Surely there's a webpage somewhere that describes in detail what you should do in gmod to avoid this? It seems awfully weird that doing some things in gmod will just insta-crash it.

[2016-03-29 16:25] lolleko commented on #62
Happens beause respawn is called from think not from runbehaviour. And since emerge on respawn aswell. PlaySequenceWait will be called without a courotine.

[2016-03-29 16:32] lolleko commented on #62
Hotfixed in #63

[2016-03-29 16:37] func-octo commented on #55
On the other hand, none of the doors open : P
Must be time to install the updated version... xD

[2016-03-29 16:38] lolleko commented on #61
The apartment is a bit to linear in my opinion (still well edited tho), but i really like the facilty. Keep it up!

[2016-03-29 16:44] lmao5677 commented on #55
@ScriptnLua

Lol, thats weird.

[2016-03-29 16:47] lolleko commented on #55
I wouldnt put to much work into the configs rightn now. As things **might** still be changing and configs could break, or become polluted by unused/changed stuff. Either way I would recommend to redo them completly once the workshop release is out. At least that's what I will/have todo with my configs.

[2016-03-29 16:53] minin43 commented on #55
That shouldn't be the case at all. What entities are you planning on removing/changing so drastically it requires re-placing? The only thing you'll need to worry about is new entities. For example, hell hound spawns, and that hopefully wouldn't require redoing the ENTIRE map.

[2016-03-29 17:00] minin43 commented on #61
I agree with you on the apartment, but it's a good introductory map for players with CSS. A small and cramped map makes it very difficult to survive higher level rounds, but it also means it's less daunting for new players.

I have a third map (in reality its the second, but I had to skip it), but it has water placed in it, and when zombies hit water, they immediately respawn. So a tip to all othe

[2016-03-29 17:00] lmao5677 opened #64 "M67 Grenade Conflict"
Not sure if you know this, but some weapons pack start conflicting with each other and may give me m67 grenades. Are these weapon packs just not compatible or what?

[2016-03-29 17:02] minin43 commented on #64
Do not use other pack's grenades. At all. Only use the placeholder one provided by Zet0rz. Other pack's grenades can break things, such as the mystery box.

[2016-03-29 17:07] lmao5677 commented on #64
Even if I don't use a pack with grenades, sometimes weapons will still break and give me m67 grenades

[2016-03-29 17:08] minin43 commented on #55
Anyone open to some testing later today? 3:30 pm CST?

[2016-03-29 17:10] minin43 commented on #64
Explain this breaking? Are you talking about through mystery box? Because the mystery box, by default, has every weapon entity in it, including things such as weapon bases and, in your case, different grenades.

[2016-03-29 17:21] lmao5677 commented on #64
It happens when I buy a wall weapon or in the box. I was using black ops 2 remastered, cold war and modern warfare 2 weapons pack. First time I get a  gun it works. The second time it fails and gives me a m67 grenade.

[2016-03-29 17:23] minin43 commented on #64
If it prints an error, please post the error.

[2016-03-29 17:25] lmao5677 commented on #64
Ok, I will see if it does that.

@minin43

No errors. But it still happens....

[2016-03-29 17:53] lolleko commented on #55
Its probably not required, but configs get pretty messier with every change to them.

[2016-03-29 17:55] lolleko commented on #61
Yeah zombies cant swim, I would love to add that but its not possible with gmod right now . So for now they just respawn to prevent them from not getting stuck underwater.

[2016-03-29 18:19] minin43 commented on #61
@lolleko I'm not suggesting they need to swim, their walking animation would be fine, but it just disallows me from using a specific map because of it

[2016-03-29 18:21] lolleko commented on #61
It's not about the animation. The zombies/nextbots simply have no water physics. They will just walk on the ground (the bottom of whatever water pit they fell into), and are completly unable to ascend.

[2016-03-29 19:34] Zet0rz commented on #61
Once gmod gets added ladder and water functionality to Nextbots (Lolle already created a request which Robotboy assigned himself to), we will add it in. For now, we'll have to avoid those maps :/

[2016-03-29 19:42] Zet0rz commented on #64
Yeah let me know the errors. In most cases, I can prevent the use of grenades by blocking what causes the error if it occurs. But the way I made the special weapon system (weapons you can't equip from scrolling) makes it easy to add any weapon to it, and it will replace any previous weapon in that slot. The function to do this looks like this:
`SpecialWeapons:AddWeapon(weapon_class, category, usef

[2016-03-29 19:50] lmao5677 commented on #64
How would I be able to run these commands?

The owner of the pack is Megadeath9811

[2016-03-29 19:50] Zet0rz commented on #41
I have a folder full of all the sounds from CoD WaW Zombies, that includes all Hellhound sound effects as well as the Announcer saying "Fetch me their souls!". I will add those in an upcoming update.

[2016-03-29 19:53] Zet0rz commented on #64
@lmao5677 Any .lua file run by the server with this function in it would add them. Put it in a simple lua script in autorun or add it to an extensive server setup lua file (where you also register all other things, like weapons to the Wonder Weapon system).

And may I ask, what kind of "conflict" does this create? Error spam? Unable to use these grenades? Unable to use NZ grenades?

[2016-03-29 19:55] lmao5677 commented on #64
It makes me unable to use these grenades. They appear as nothing. If I go back to the weapon, it just appears as my previous weapon.

[2016-03-29 19:56] Zet0rz commented on #64
So you buy a gun, but it gives you grenades, and then it just gives you nothing?

[2016-03-29 19:56] lmao5677 commented on #64
Not exactly, when I buy a gun, it gives me grenades, but they don't appear as anything.

[2016-03-29 19:57] Zet0rz commented on #64
Does it give you grenades **and** the gun? And the grenades, you do have them, they are just invisible and can't be used (taking up a spot in your weapon slots)?

[2016-03-29 20:02] lmao5677 commented on #64
It just gives me the grenades which are invisible and unusable. I don't get them because then it just becomes my weapon that I traded when I go back to that weapon slot.

[2016-03-29 20:09] Zet0rz commented on #64
Alright. I will have to look into why this happens. From what you played, is the correct way this is supposed to be that you get the weapon without any grenades? I can probably prevent the equipping of weapons that other weapons give you in extension.

[2016-03-29 20:20] minin43 commented on #61
@lolleko I understand this. But for the specific map I'm talking about, it wouldn't matter. The water isn't steep enough for them to need a swim animation (Not only that, but in maps where the zombies WOULD just "emerge" out of the water, having them slowly walk out of it could be much more spooky then having them swim or anything).

[2016-03-29 20:20] lmao5677 commented on #64
I do get grenades but the weapon that I buy/trade becomes grenades. Heres explanation in a deeper meaning.

M1911 + Buy Weapon = Success!
Buy New Weapon with M1911 on hands  = Fail, Grenades received
Buy New Weapon with New Weapon  on hands = Fail, Grenades received
Go back to weapon that I bought = Same weapon that I bought for the first time
Go back to M1911 = No new weapons.

If you can underst

[2016-03-29 20:20] minin43 commented on #41
Awesome

[2016-03-29 20:23] Zet0rz commented on #64
Good call. But the outcome we want is that you just get the weapon you buy always, no grenades.

[2016-03-29 20:25] Zet0rz commented on #61
@minin43 We could probably achieve that with a server convar or a map setting. Something like `nz_zombiewaterrespawn [0/1]`

[2016-03-29 20:33] lolleko commented on #61
I will change it so zombies only respawn if their head is underwater.

Edit: never mind it's already that way. So if you just delete all navmeshes that are too deep it should work. Could tell me if they despawn as soon as they touch water or just if their head is under water. And i get why it would be good for your map. But I tested it on maps (with pools for example), where zombies would just be

[2016-03-29 20:39] lmao5677 commented on #64
I've got the video.

https://www.youtube.com/watch?v=vQsWl5AcPFY

[2016-03-29 21:37] minin43 commented on #61
@lolleko It's as soon as they touch the water.

[2016-03-29 21:58] func-octo commented on #48
What we really need is a nz_removeRags or nz_removeRagdolls in case the ragdoll despawner fails. Also need to add zombie chances from the config in (command setup: nz_zombieChance "zombie name" {chance out of 100}). Example: nz_zombieChance nz_zombie_walker 100

Just in case one of those 'hardcore people' want to make all rounds extremely difficult with the special zombies. I realize you could jus

[2016-03-30 01:49] minin43 commented on #61
Updated with the newest footage.

[2016-03-30 09:35] Zet0rz opened #65 "Player Respawning and Point System"
It has been reported that players respawning after dying out a previous round only spawn with 500 points. This is not intentional, players respawning should spawn with their previous points (but still no weapons or perks).
The point system should also be updated to act like the real system with players dying:
- Getting downed (Lose 5% of points, given to revivor)
- Dying out subtracts 10% points f

[2016-03-30 09:39] Zet0rz opened #66 "Solo Quick Revive"
In Black Ops and onwards, Quick Revive can be bought for 500 points and with no power requirement if playing alone. The perk also does something different; it instead causes the player with the perk to get revived after a few seconds of being downed. It can only be bought 3 times.
This can be made as a seperate perk ("solorevive") so it acts seperately.

[2016-03-30 09:43] Zet0rz commented on #44
No further reports, will assume fixed.

[2016-03-30 09:49] Zet0rz commented on #64
Alright I see what you mean, but there's something I want you to try. Make this happen again, then put this in console:
`lua_run print(Entity(1):GetActiveWeapon())` as well as `lua_run PrintTable(Entity(1):GetWeapons())`
Tell me what those output. Run the first one as your current weapon is that grenade (when the HUD says M67 Grenade). Finally, do this: `key_listboundkeys` and see which one is bou

[2016-03-30 09:55] Zet0rz commented on #58
Seems to have been fixed (looking at the newest playtesting video).

[2016-03-30 09:55] #58 closed, assigned to nobody

[2016-03-30 11:22] Alig96 commented on #65
I wasnt even aware it did that in the actual game. Just a quick mention, remember to round to the nearest 10 dont want players running around with 506537.6444 points

[2016-03-30 13:12] Zet0rz commented on #65
Yep, rounded to nearest 10. I don't think anything ever costs in the 10's unless you set it so in the tools.

[2016-03-30 14:22] minin43 commented on #44
Not fixed. It happened again, but I didn't notice any errors in client console. I'll need to double check server console, but it happened again to me last night, @Zet0rz

[2016-03-30 14:31] lmao5677 commented on #64
OUTPUT: Weapon [268][nz_grenade]

Output: 1   =   Weapon [266][weapon_bo2_browninghp]
2   =   Weapon [267][nz_quickknife_crowbar]
3   =   Weapon [268][nz_grenade]
4   =   Weapon [270][weapon_bo2_galil]

Output: "g" = "+grenade1"

[2016-03-30 14:49] Zet0rz commented on #64
Yep it actually equips the gamemode's grenades which is why it doesn't replace anything. This shouldn't have anything to do with the weapons then, does it happen with any other gun mod? It could be these guns trigger +grenade1 by themselves.

[2016-03-30 15:25] Zet0rz opened #68 "Doors with 0 Price not opening by themselves"
Doors with a price of 0 are supposed to open by themselves either on game start, or when electricity is turned on, depending on the setting. They currently do not do this. It is likely because of the migration to `entity:GetDoorData()` where the electricity and game start loop still use `entity.price` (stored directly on entity).

[2016-03-30 16:49] lmao5677 commented on #64
No, this does not happen with any gun pack.

[2016-03-30 18:25] lolleko commented on #48
Cheats added in #69, those require some testing so it would be great if you check them out. We will also add some more cheats and functionality later. You can open the cheatpanel via the settings dropdown from the menu.

Thanks in advance & happy cheating :D

[2016-03-30 19:00] Zet0rz commented on #65
Added in commit f03909323cb6ad77bba1392ff746f9ed51ff8898. It would need some testing, so tell me the results of your playtesting!

[2016-03-30 19:21] Zet0rz commented on #68
Fixed with commit 51c4f203867a8597043821b7513956af1eadb2c8

[2016-03-30 19:21] #68 closed, assigned to Zet0rz

[2016-03-30 19:34] minin43 commented on #68
yussssss

I wasn't going crazy

[2016-03-30 19:35] minin43 commented on #48
@lolleko How do you access the menu if you've already entered create mode?

[2016-03-30 19:42] lolleko commented on #48
Still over the menu(f1) or via the "/cheats" chat command.

[2016-03-30 19:48] lolleko commented on #62
Looks like it's fixed.

[2016-03-30 19:48] #62 closed, assigned to lolleko

[2016-03-30 19:49] lolleko commented on #60
Is this still happening?

[2016-03-30 20:18] lolleko commented on #61
That's odd, I will make a workaround to only despawn them once they are fully submerged.

[2016-03-30 21:22] minin43 commented on #60
@lolleko Yes

[2016-03-30 21:31] Zet0rz commented on #60
Does it happen consistently or randomly? When I tested it it crashed with a fair few wall guns when I got killed, but a few tests later it didn't. I don't know if it's a chance crash or a guaranteed one and I'm just missing something.

[2016-03-30 21:43] minin43 commented on #60
From my playing solo on my dedicated server last night: The first time I was downed (I purchased both the mystery box and a gun on the wall), the game ended normally and I was able to start another round. The second round, no matter what I did, it would crash. I tested this twice.

[2016-03-30 21:56] Zet0rz commented on #60
It could be related to the outline entities since it's to do with wall buys. Try to do `nz_outlinedetail 0` and play for a bit, see if it still crashes. Although this is client side, so I don't see how this could cause a server crash.

It could be something to do with the map cleanup. Maybe something not cleaning correctly?

[2016-03-31 06:19] lolleko commented on #54
Delayed since the gmod update was reverted.

[2016-03-31 10:16] Zet0rz commented on #48
Commit 9f86175c70f77f5ff6cc83ef85eb664749a826ec makes cheats able to be used in Creative mode, as well as adds a new cheat Target Priority, useful for making zombies not target you, or make them target an entity you're looking at. It also makes the Ready menu display "In Creative" for players in that.

[2016-03-31 10:20] Zet0rz commented on #60
Do you have a crash dump? If so, you can try using this site: http://dumps.metastruct.uk.to/ and examine the log from it. I don't seemingly have crash logs from these crashes

[2016-03-31 10:57] Zet0rz commented on #64
Fixed in commit b06aa358f37063bbdf362e344912e67bb75d50df. I'm gonna close this, but there's a chance this might happen again (if the weapon's weight is less than 1 and the auto-weight change didn't work), so let me know if it does and I'll reopen this.

[2016-03-31 11:56] lmao5677 commented on #64
I didn't seem to work. It replaced my weapons with grenades and I can't buy anything at all.

[2016-03-31 15:37] Zet0rz commented on #64
It seemed to work for me, but I'll go through some more testing then. I think I may have a failsafe though, and is to set the player using special weapon variable to false (so it doesn't block you from switching weapons to non-special) if it wasn't changed to via the bind.

[2016-03-31 15:38] Zet0rz opened #70 "Grenades and other special weapons erroring when not switched to"
Sometimes when reloading, you are blocked from switching away from the weapon until it's done. If this happens when you try to throw a nade, it will error because the :ThrowGrenade function doesn't exist on the weapon you then now keep. It can likely be fixed by checking if the weapon is special before doing anything, or by forcing weapon switch (no matter what).

[2016-03-31 15:41] Zet0rz opened #71 "Barricade Jump Animation implementation"
Implement the zombies' barricade jump animations together with barricades that trigger this animation. Also make multiple types of barricades:
- Default, no animation
- With sandbags/generic prop, with animation
- With no props but still animation (place your own prop)
- With no props but still animation, no planks

[2016-03-31 15:45] minin43 commented on #71
If only I could animate D:

[2016-03-31 15:47] minin43 commented on #60
I can't seem to figure how to get server console to be saved. I didn't try your possible fix last night, I will try again tonight.

[2016-03-31 16:01] Zet0rz commented on #71
The animations are already there, we just have to find the best way to blend, trigger, and handle them so that they continue to move from where they land.

[2016-03-31 16:04] Zet0rz opened #72 "Model LODs and Bump Map"
Compile the Nazi Zombie models that we have now with their LOD meshes so that we can use those. This will greatly help performance when looking at many zombies. Also fix the bump maps causing wierd blackness on the zombies (if it is that).

[2016-03-31 16:08] minin43 commented on #71
Still don't know, lol

[2016-04-01 03:32] minin43 opened #73 "Some files are missing?"
[AddCSLuaFile] Couldn't find 'function_override/sh_constructor.lua' (@addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/loader.lua (line 30))
Couldn't include file 'function_override\sh_constructor.lua' (File not found) (@addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/loader.lua (line 31))

[2016-04-01 03:40] minin43 commented on #60
Also, tried the nz_outlinedetail 0 fix and it didn't work.

[2016-04-01 05:12] Zet0rz commented on #73
Yeah those are just because the files are empty. It doesn't change anything with the gamemode, we just haven't removed them in case we need them later.

[2016-04-01 05:12] #73 closed, assigned to nobody

[2016-04-01 05:26] Zet0rz commented on #60
I think it might be related to zombie pathfinding since it freezes very similarly as when you spawn them on no Navmesh (which has since been prevented by despawning). Since I don't crash but rather freeze, I'm not getting any crash dumps, but your server might (if it fully crashes), so look for a .mdmp file in the directories?

[2016-04-01 08:28] Zet0rz commented on #60
Can now confirm it has nothing to do with random box or map cleanup. Crashed (froze) on a single launch with a fair few wall guns from CW2.

[2016-04-01 08:55] Zet0rz commented on #60
Found the issue! I logged the console, and at the moment of dying, I found this in the log:
http://i.imgur.com/LghFqiu.png
Notice the scrollbar on the side. The rest of it down is the same print message, nothing else. I added a lot of debug prints (which run if `nz_zombie_debug` is 1), and got this:
http://i.imgur.com/whuAfRo.png
It seems like it's spamming the routine loop on a single zombie tryi

[2016-04-01 09:24] Zet0rz commented on #60
Yes fixed it! It was caused by an infinite loop with no delay that happened because the zombie ran OnNoTarget _just_ before the round was set to Game Over state. It is fixed by still doing this, but adding a 1 second timeout at the end, which will make it do only 1 loop and the next loop will be in Game Over state. See 1999ee386050abd1583190f078ec4fae60c93ca0

Needs testing now. Let me know if it

[2016-04-01 10:45] Zet0rz commented on #66
Added in commit 548260be20cb40bb9bce2e71d2a1ef243878eb75

[2016-04-01 10:45] #66 closed, assigned to Zet0rz

[2016-04-01 10:45] #65 closed, assigned to Zet0rz

[2016-04-01 13:59] Zet0rz commented on #40
All animations done, they look really cool. Expect no more T-stance idle animations :D
Time to compile LODs. This is gonna take a while.

[2016-04-01 14:26] minin43 commented on #60
WOOO!

[2016-04-01 14:28] minin43 commented on #73
Ah, ok. I was wondering if this was having some effect on the crashing or not. Guess it doesn't.

[2016-04-01 14:28] minin43 commented on #40
Noice!

[2016-04-01 14:28] minin43 commented on #65
I will test it!

[2016-04-01 14:29] minin43 commented on #66
Nice!

[2016-04-01 14:50] Zet0rz commented on #40
Man these LODs are going down low! http://i.imgur.com/Qbq2STc.png
I'm not sure what to put as the range, but this looks like it's gonna be optimized xD

[2016-04-01 16:16] Zet0rz commented on #72
LODs finished and Bump Map problems improved (not completely gone) in commit f825482d2c1ed24381b021c611e2aedb72c6ccea

[2016-04-01 16:16] #72 closed, assigned to nobody

[2016-04-01 16:16] Zet0rz commented on #40
Uploaded and added in commit f825482d2c1ed24381b021c611e2aedb72c6ccea

[2016-04-01 16:16] #40 closed, assigned to Zet0rz

[2016-04-01 16:19] minin43 commented on #40
So increased FPS when looking at a massive amount of zombies?

[2016-04-01 16:20] minin43 commented on #72
So increased FPS when looking at tons of zombies?

[2016-04-01 16:20] Zet0rz opened #74 "Random Box to only cycle available weapons and precache"
The Random Box should only cycle through guns added to its list (or the server's list, whichever it uses). On top of that, players should precache these models on join so that they won't get lag spikes when it's cycling through heavy models.

[2016-04-01 16:21] minin43 commented on #40
double noice

[2016-04-01 16:22] minin43 commented on #39
What's the status on this? Are you going to use the one on the workshop? I feel it would be for the best to do so.

[2016-04-01 16:28] minin43 commented on #51
Update on this? Do you have the logo/icon down? My friend was thinking of attempting her hand but I don't want to tell her she's okay to, only for you to release ones you've made yourself.

[2016-04-01 16:49] Zet0rz commented on #51
I still plan on making one myself, but it's probably the last thing I do before I upload to the workshop, so don't expect it very soon. Your friend can go ahead and try, but I can guarantee anything, especially since I have an image in my head of how it could look and she doesn't have that same image.

[2016-04-01 16:51] Zet0rz commented on #39
No the one on the workshop really doesn't work, it just drops a nade modelled after the monkey bomb, no animation or anything. My plans was to take the model from WaW fully animated and a viewmodel animation with c_ hands like the perk bottle. And I was going to do that here after finishing the zombie models :)

[2016-04-01 17:37] minin43 commented on #39
Ah nice.

I understand you're aware of my sentiment, but I feel like you should port over either the marine models (from Nocht in WaW) or the 4 character's models to use as the _default_ playermodels. It'd really complete the picture. Not the _only_ player model, just the default.

[2016-04-01 19:06] Zet0rz commented on #39
I'm sorry, but that is not going to happen in the gamemode itself. It's something people will have to go out and do themselves. I have plans for a trailer when this is done, and in that it's gonna be 4 typical gmod player model characters as well.

[2016-04-01 19:29] minin43 commented on #39
Well, I have searched extensively for the hero players models and could not find them absolutely anywhere. What currently are the default player models?

[2016-04-01 19:39] Zet0rz commented on #39
In the gamemode? None, it's based on your sandbox setting.

[2016-04-01 19:45] minin43 opened #75 "Special Weapons don't work on an empty mag"
Meleeing doesn't work if you don't have any ammo in your gun, at least for CW2.0. I will provide footage next chance I get.

[2016-04-01 20:27] Zet0rz commented on #75
I think I've seen this bug being a gmod thing where you can't change weapons. I can probably find a workaround to avoid this.

[2016-04-01 23:01] Zet0rz commented on #39
The monkeys are coming ... 910356d944dfc38c2ada73b42fd7250cffd39af2

[2016-04-01 23:01] #39 closed, assigned to Zet0rz

[2016-04-01 23:05] Zet0rz commented on #44
Still waiting to see what caused this. I don't get it any time on my installation, but that's probably because I'm on a listen server.

[2016-04-02 00:28] lemonylink opened #76 "Texture errors."
Hello, I am hosting this gamemode and tweaking myself. Recently tho I started a fresh server with default files + this updated gamemode but sadly I have various pink and black errors all over the huds. zombies are giant errors aswell.

Any help please?

[2016-04-02 04:19] minin43 commented on #76
You downloaded the incorrect version, most likely. Try this one: https://github.com/Zet0rz/nzombies/archive/Master-Changes.zip

[2016-04-02 04:20] minin43 commented on #44
If I ever run into it again, I will let you know and update this thread.

[2016-04-02 04:22] lemonylink commented on #76
That's the version I am using. Basically, I had the version from a few days ago and it was fine. Then I started a brand new SRCDS server with the updated files today and I get the pink and black texture errors on the hud and and zombies are giant errors. I have got other people to confirm this also, it was fine and now it's not. Not really sure what to do. I have tried alot of thing before coming

[2016-04-02 04:24] minin43 commented on #76
I just downloaded the latest version, let me test it and I will get back to you in a few minutes.

[2016-04-02 04:26] minin43 commented on #61
@lolleko Has the workaround been implemented?

[2016-04-02 04:33] minin43 commented on #76
Alright, I just loaded up a map with the newest download and everything was working fine for me.

Try redownloading the gamemode and seeing if that fixes it, otherwise it might be an addon conflict (but that seems highly unlikely).

[2016-04-02 04:54] lemonylink commented on #76
I am just reinstalling garry's mod aswell as a fresh server again to make 100 percent sure I am not doing anything wrong. Are you using a fast download to host the files?

[2016-04-02 04:56] minin43 commented on #76
The files are being download through github. Do you have the addon installed both on your client and on the server?

[2016-04-02 04:57] lemonylink commented on #76
Yeah I do. I guess I should delete them. Would that make it conflict perhaps?

[2016-04-02 05:09] lemonylink commented on #76
still not working on a fresh server with only the gamemode and other folders in latest master updated version from today. tried with FD and without. Still getting same errors. =c

[2016-04-02 05:19] lemonylink commented on #76
Oh you mean the player has to manually download the addon from here before Joining my server???. I had it working with fast-download yesterday, but it just stopped for some reason  =/

[2016-04-02 05:55] minin43 commented on #76
It probably stopped because the code to fastDL the files was in the gamemode, which you overwrote when updating.

Yes, clients need the addon as well as the server. This gamemode will be going up onto the workshop within my prediction of 2-3 weeks. Wait then and then have them download the addon through steam.

[2016-04-02 05:57] minin43 commented on #60
Just finished a 16 round game on a new map I've been working on (map number 5 - it won't be the best but it'll be available).

The fix DOES work (as well as the SP quick revive now being self-revive). Fantastic work!

[2016-04-02 06:02] lemonylink commented on #76
Even doing that.

I fix the hud texture errors but..

I still can't see zombies and get this error.

[ERROR] lua/entities/nz_zombiebase.lua:449: attempt to index a nil value
  1. unknown - lua/entities/nz_zombiebase.lua:449

which is

local leftEye = self:GetAttachment(self:LookupAttachment("lefteye")).Pos
		local rightEye = self:GetAttachment(self:LookupAttachment("righteye")).Pos
		cam.Start3D(E

[2016-04-02 06:04] minin43 commented on #42
Update on my thoughts towards balancing:

-Zombies are currently fine as they are.
-Player stats are fine as they currently are.
-For perks:
   -PhD flopper could use a larger explosion radius
   -Electric Cherry could use a bigger zapping radius
   -Double tap is too strong and should be reduced by at least 20% (a lot of guns also fire so quickly the sound bugs out, fooling players into thinking

[2016-04-02 06:07] lemonylink commented on #76
Even doing it manually I still can not see the zombie models. It is failing to load them. Even on a LAN. I copied the files over to my garrys mod client root. But it seems like it will not read the zombies model location..

[2016-04-02 07:05] minin43 commented on #76
Either 1 of 2 things has happened: the files are corrupt, OR, you put them in the wrong place.

I'm betting on the latter.

[2016-04-02 09:18] Zet0rz commented on #76
All clients need the addon installed as the models and textures are simply too big and too many to make them download on join. As long as you download the zip and extract the folder to addons it should work fine. You can verify it was done correctly by checking if this path exists:
`GarrysMod/garrysmod/addons/<any name>/models/nz_zombie/zombie_rerig_animated.mdl
`
This has to be in your client ins

[2016-04-02 09:19] #60 closed, assigned to Zet0rz

[2016-04-02 09:22] Zet0rz opened #77 "Revive and Pack-a-Punch viewmodel animations"
Get these implemented like the perk bottles and monkey bombs, also using c_ hands.

[2016-04-02 09:28] Alig96 opened #78 "Lag on RandomBox/WallBuys"
This issue has been around for the longest time, I think it is a pre-caching issue.

[2016-04-02 10:08] Zet0rz commented on #78
It is. I have plans for it though. The random box should only cycle through weapons it can actually give, and when a player joins and this list is networked to him, he will precache all of them. I didn't think of the wall buys, that's a good call.

[2016-04-02 13:11] Zet0rz commented on #77
Progress http://i.imgur.com/D13WdDd.jpg
Slight clipping, but you don't notice it.

[2016-04-02 14:18] Zet0rz commented on #77
Added in commit 9f99e5a675b9e26b299dc00f48b3c0d54978c379
Now on to Bowie Knife and then we have the full base set of animated special weapons and entities.

[2016-04-02 14:18] #77 closed, assigned to Zet0rz

[2016-04-02 14:18] Zet0rz commented on #42
Balance changes based on @minin43 suggestions made in commit 9f99e5a675b9e26b299dc00f48b3c0d54978c379
Keep on giving the feedback :D

[2016-04-02 18:08] Zet0rz opened #79 "Doors not networking correctly sometimes on Killed"
When getting killed and respawning the next round, there's a good chance of all doors reappearing to be locked for you (but you can still pass through them).

[2016-04-02 18:10] Zet0rz opened #80 "Invulnerability Bug"
Seems to  happen if you completely die and respawn the next round. Likely due to some incorrect player class setting and/or status (maybe the game thinks you're still dead).

[2016-04-02 18:16] lemonylink commented on #76
Thank you for clearing that up for me, I have managed to get it working and just told people to manually download this and extract to the folder specified and it works. The only thing that's a problem now is that only admins can ready up. I did change this in the "Chat commands" Lua but for some reason it keeps reverting, Another problem is that when I make it available to anyone to join the game

[2016-04-02 18:16] minin43 commented on #79
So happy to see the playtesting leading to all these bug fixes :D

[2016-04-02 18:22] minin43 commented on #76
It's currently a bug. There are 2 workarounds: 1) give those people superadmin status and they can ready up, OR 2) type this code into _server_ console: `lua_run for k,v in pairs(player.GetAll()) do v:ReadyUp() end`

[2016-04-02 18:23] lemonylink commented on #79
Can also confirm I have had this bug

[2016-04-02 18:24] Zet0rz opened #81 "Chat Commands requiring Admin"
This includes non-admin commands like /ready.

You can work around it for now by doing one of two things:
- Make players super admins
- Run this code in the **server** console to ready all players up regardless of admin status:
  `lua_run for k,v in pairs(player.GetAll()) do v:ReadyUp() end`

[2016-04-02 18:27] lemonylink commented on #76
I think I will use the code, Thank you :)

[2016-04-02 18:27] Zet0rz commented on #76
The chat command error has been noted down in issue #81

[2016-04-02 18:31] minin43 opened #82 "Give me maps to configure."
Just starting listing off any maps you think would make good maps for the gamemode.

Make sure they're off the workshop and I'll take a look at it.

[2016-04-02 18:59] lemonylink commented on #82
What maps have already been done / in progress? I'm planning on doing a few myself. But don't want to conflict with maps already in progress. Currently I just set up messing around maps on the lifepunch cinema map and cs_office. - Planning on doing kino der toten later on and mwf2 terminal map.

[2016-04-02 19:00] lolleko commented on #61
Sorry it took so long, I'm quite busy atm. But I think I got it working in 630cddb. Zombies now only despawn if their head is under water. It might be a little inaccurate depending on the map. Spawning under water should also work as long as the zombies are not spawned deeper than 64 units (player height). Please report back if that works for you aswell :cold_sweat:

[2016-04-02 19:03] minin43 commented on #61
@lolleko thanks!

[2016-04-02 19:03] minin43 commented on #82
check my gameplay footage post

[2016-04-02 19:07] lemonylink commented on #82
Watching it now. Looks pretty good.

[2016-04-02 19:07] Zet0rz commented on #82
For the official configs, I have plans of making all the original Zombies maps I can find on the workshop complete with map scripts that will make them like the original (like in Kino, a working teleporter that leads to PaP temporarily). On top of that, I wanted around 4 high-quality original configs. For those I have currently got `ttt_kosovos` and `ttt_rooftops_2016`

[2016-04-02 19:10] Zet0rz opened #84 "Prop Removal tool"
A new tool that allows you to mark props for removal on map cleanups. Allows you to permanently get rid of map-created props that may or may not hinder zombies and general movement.

[2016-04-02 19:16] minin43 commented on #84
sweet

[2016-04-02 19:17] minin43 commented on #82
@Zet0rz You've played 2 of my maps so far, what are your thoughts on those 2?

[2016-04-02 19:27] Zet0rz opened #86 "Bowie Knife"
We'll need an upgraded melee weapons. Just like all the other original CoD weapons added, it needs to be with c_ arms and fully animated. The Bowie Knife is a one-hit kill up until round 11 (9 in BO1 and BO3).

[2016-04-02 19:33] Zet0rz opened #87 "Prediction in the Special Weapons system"
Right now the special weapons works purely on key binds and setting weapons and a bunch of timers. Using CurTime() and Think hooks it should be more predicted, as even though a player might press the button but not get the weapon instantly due to ping, CurTime() will stay synchronized and cause it to "catch up". This will require some experimentation, Move hooks might work better too.

See https:/

[2016-04-02 19:33] lemonylink commented on #81
We can just put this in an .lua file with the right code and on spawn it should Run when a player is in the server right? With the right code of course.

[2016-04-02 19:41] Zet0rz commented on #81
@lemonylink No, this code isn't automatically run and will even create errors if you put it in a lua file.
`lua_run` is a console command that makes the following text be executed as lua code. This means you're essentially running the same code any gamemode or addon does, but in the console. You could theoretically code a full gamemode in a single `lua_run` statement if it didn't have a character

[2016-04-02 20:24] lemonylink commented on #81
Ah right, I should of realised that. Completely Forgot lua_run was blocked.. Thank you. I'll just set it up to auto type it every 1-2 mins in the console then on a different machine. Your effort on this project is much appreciated.

[2016-04-02 21:30] Zet0rz opened #89 "Zombie Animation speed thresholds to be dynamic"
Currently the zombies change ACT instantly if they cross a certain speed. For zombies set to this particular speed, they will often dip in and out causing them to constantly change animation.

The way it should be should be something more like this:
If a zombie has a speed threshold of 150 to change animation, it should only change up if the zombie goes over 170 (+20), and likewise should only cha

[2016-04-02 21:39] lolleko commented on #82
I did one for `dod_u471_b2`. You might want to try some zombie survival maps, see if you can use/convert them to nzombies. This one looks promissing for example: http://steamcommunity.com/sharedfiles/filedetails/?id=653898327

[2016-04-02 21:42] Zet0rz commented on #81
Fixed in commit af7dd5ea510163786c41dc183c30da6a33b29746

[2016-04-02 21:42] #81 closed, assigned to Zet0rz

[2016-04-02 21:46] Zet0rz opened #90 "Wall Buys trying to use NULL entity"
Seems to happen if it fails to create the Clientside Models. An IsValid check to see if they exist would probably work. If not, it'd either have to recreate the outlines, or cause the normal model to render (so it isn't invisible)

[2016-04-02 22:04] Zet0rz commented on #41
Status update: We now have the models. The NPC was already coded so we just have to implement it and assign the animations and sounds. We also need to integrate them into the general round system as well as add their Lightning spawn effect

[2016-04-02 22:31] #36 closed, assigned to Zet0rz

[2016-04-02 22:31] #32 closed, assigned to nobody

[2016-04-02 22:32] Zet0rz commented on #43
Not yet coded in, but added in commit 87836001b1625746376e403a8cdf4c7e6c6daa70

[2016-04-02 22:32] Zet0rz commented on #41
Sounds added in commit 87836001b1625746376e403a8cdf4c7e6c6daa70 It turns out Lolle already has the lightning effects, so they should be all done very soon!

[2016-04-02 22:35] #76 closed, assigned to nobody

[2016-04-02 22:46] Zet0rz commented on #79
A possible fix (since the visibility is the only thing messed up) would be to use a serverside SetNoDraw just like the serverside Collision Group. This would make it always look right (but may internally still be wrong). A sort of failsafe, should still be fixed in general.

[2016-04-02 22:47] Zet0rz commented on #75
A possible workaround could be what TTT did:
https://github.com/garrynewman/garrysmod/blob/16f29636a3da81a0ff6fe3e5bf7f0aa787e86f8f/garrysmod/gamemodes/terrortown/gamemode/weaponry.lua#L179

[2016-04-03 05:44] Alig96 commented on #82
If at all possible, I'd like the ones that were released previously:
- ttt_68thway_brownie_b
- ttt_forest_final
- cs_militia
- ttt_casino_b2
- de_corse
- de_crypt_cn_v1

Now you don't have to do them all, but they're the ones that I had previously had mapped. So if you're really wanting to do some, there we go :)

[2016-04-03 06:00] minin43 commented on #82
@Alig96 Yea, I'll take a look!

I may skip over the CSS maps. as I'm trying to avoid keeping things restricted to CSS owners, but myabe still.

Do you have workshop links for the rest of 'em?

[2016-04-03 08:04] lolleko commented on #75
Might also be fixed if client side prediction an select weapon is used instead of server side select weapon.

[2016-04-03 14:03] Zet0rz commented on #82
- [ttt_68thway_brownie_b](http://steamcommunity.com/sharedfiles/filedetails/?id=277354909&searchtext=ttt_68thway)
- [ttt_forest_final](http://steamcommunity.com/sharedfiles/filedetails/?id=147635981&searchtext=ttt_forest)
- [ttt_casino_b2](http://steamcommunity.com/sharedfiles/filedetails/?id=169342118&searchtext=ttt_casino)

Those are the ones I could find from that. I did make a config on Casino

[2016-04-03 14:28] lmao5677 opened #91 "(Enhancement) Random Box Starting Location."
There should be a setting in the random box. The setting indicates that if the box location has been checked with the setting starting location, the box will always spawn there when someone starts a new game. Just like Der Riese, where the box is always where the power switch is.

[2016-04-03 16:53] minin43 commented on #82
Thanks!

[2016-04-03 20:42] Zet0rz commented on #91
If we make this, it will probably be a setting of "Possible Start" so that you can have multiple. Putting this setting on only one box does what you mean, but you can also use it to make the box spawn randomly anywhere _but_ the first room.

[2016-04-04 10:42] Zet0rz commented on #43
Coded in in commit 158e9c7e62acb44a6daccc0dfa42459f54624504

[2016-04-04 10:42] #43 closed, assigned to nobody

[2016-04-04 11:08] func-octo opened #92 "(Yes, Lag!) Monkey Bombs"
Very much lag happens when all zombies retarget at once. Could you maybe retarget one zombie every tick instead all at once to reduce cpu/gpu load? Thanks!

[2016-04-04 11:17] func-octo commented on #55
Here's what I reccomend for configs is going here: https://developer.valvesoftware.com/wiki/Decompiling_Maps
then in hammer,  do top down view of the map and print it out/take a srceenshot. Then draw where everything is for nzombies on the map in some way so you can make it identical later when it needs to be redone.

[2016-04-04 12:22] func-octo commented on #41
Yay! On the side note, should I make a map in hammer to test zombie behavior (i.e. jumping over barricades, normal doorway barricades, stairs (since they get stuck next to most stairs), corners)?

[2016-04-04 13:29] Zet0rz commented on #55
@ScriptnLua I'd rather just go in sandbox and fly straight up with a camera tool and take a screenshot than decompile

[2016-04-04 13:30] lolleko commented on #92
Zombie targeting is completly asynchronous.

[2016-04-04 13:31] Zet0rz commented on #92
I experimented with changing it to quickly retarget all zombies as otherwise they may ignore the monkey for up to 2 seconds (critical when in a corner), but I knew fully well it might cause lag on higher zombie counts. Looks like I should revert it.

[2016-04-04 13:35] lolleko commented on #92
Oh lol, you did change that :D well it's about one second not 2 and idk if zombies have a instant reaction time anyways (since they are dead thinking shouldnt be taht easy for them).

[2016-04-04 13:38] Zet0rz commented on #92
From the playtesting we had the other day we found it very unreliable. But I can definitely optimize the function by instead setting every zombie's target to this monkey (rather than running the priority enemy function), which will then later update as it would otherwise.

[2016-04-04 13:41] Zet0rz commented on #92
Commit ea6e82dfe35ec9fb5b4cfe19622a44198a0a9732 should do this. Let me know of the results of this. In case the monkey isn't a valid target (or there's another closer by), they will just retarget back to their original valid target after those otherwise 2 seconds update time.

[2016-04-04 14:21] func-octo commented on #75
One thing, has the key for melee changed? It no longer does melee when I press V regardless. Is there an alias for it?

[2016-04-04 14:29] Zet0rz commented on #75
@ScriptnLua It runs on the Noclip bind so whatever you bound noclip to.

[2016-04-04 15:22] minin43 commented on #82
I've done some testing, these maps aren't very good :/

A lot of them have ladder-restricted areas, completely disallowing large sections of the map.

A lot of them also have very little "sectioned off" areas, where you'd want the zombies to spawn.

If you guys have more, post 'me here!

[2016-04-04 15:36] func-octo commented on #92
What happens if it retargets, but then new zombies spawn?

[2016-04-04 15:37] func-octo commented on #89
Yes.

[2016-04-04 15:45] func-octo opened #93 "Improved Perk Icons"
(Pre-ShareX)
For Zet0rz

I have redone all perk icons to be cleaner. Have a look :)
https://drive.google.com/folderview?id=0B1xHaGAsFiwgSnJJeXUtaDVfSGc&usp=sharing

P.S. I haven't done speed.png or revive.png yet because of the gradients
P.S.S. Ignore the odd one out (You'll see what I mean)

[2016-04-04 16:06] Zet0rz commented on #92
All Zombies run their retargeting function preriodically, so even if no zombies were hit with this retarget, they'd still target the monkey. The only thing this change really does is to cause all zombies to retarget instantly so we don't have to wait those 1-2 seconds until their next retarget. After being set to the monkey, they will continue to retarget (but just target the monkey again) as if i

[2016-04-04 16:07] Zet0rz commented on #82
I have a _great_ config on Casino, just need a good idea for what I can do with Pack-a-Punch. It needs some special objective or thing about it just like all real zombies maps, and just like what I plan to do with all official configs.

[2016-04-04 16:10] func-octo commented on #92
Cool.

[2016-04-04 16:10] func-octo commented on #92
Do Hellhounds target the monkey, or no?

[2016-04-04 16:10] minin43 commented on #93
Is the Deadshot Daquiri icon the one from CoD?

[2016-04-04 16:11] func-octo commented on #82
Maps
zs_nacht_der_untoten
ttt_der_reise

[2016-04-04 16:11] func-octo commented on #82
Did anyone make Die Rise yet?

[2016-04-04 16:13] func-octo commented on #50
In the reaction to this reply, do thumbs up for precaching all _Random Box_ gun models and thumbs down for don't precache all gun models. More reactions gives a better perspective of what the people want!
And if your hyped for the workshop release do the party thing!
VVV

[2016-04-04 16:16] func-octo commented on #93
Yes, I took all form the perk_icons folder and sharpened them up a LOT.

[2016-04-04 16:20] minin43 commented on #82
@Zet0rz You'll have to explain what you mean with these special objectives or "map scripts," because I don't know what you mean by them and I feel like I'm missing out. Also, send me your config file for casino and I'll see if I can shoot you some ideas about it.

Also, a lot of the Nazi Zombie re-creation maps are unusable with the current nextbot zombies not being able to leap over barricades. T

[2016-04-04 16:20] minin43 commented on #93
Ok

[2016-04-04 16:22] minin43 commented on #50
Why should we precache _every_ gun model? It should only be the gun models we use, not every gun available. Many servers, including my own, have other weapon packs on it for different gamemodes. If you use every gun model, regular players (who don't have the other gamemode stuff downloaded) will see errors, I run into this issue already.

[2016-04-04 16:24] func-octo commented on #50
True. I have updated my comment to support this.

[2016-04-04 16:26] minin43 opened #94 "What will be the default weapons?"
If you look in any of my gameplay footage, or do any testing with me, you may notice I like to use CW2.0 weaponry for the guns. I just like them. But what will be the default weapon pack for the gamemode? What guns will players be using when they download the gamemode and play  by themselves, with no edits done to the gamemode? (Obviously it'd be based on what config they choose, but you still wan

[2016-04-04 16:31] Zet0rz commented on #94
I definitely like CW2 the best, but the problem with it is that the default pack only has like 5 guns, and the rest you have to get individually 1 gun at a time. That can run up to become a significant amount of addons to subscribe to just you play the default. FAS2 seems better in that regard because it is only seperated into 5 packs with a good amount of weapons.

But perhaps just creating a col

[2016-04-04 16:32] Zet0rz commented on #50
When done, it will only precache models from guns in the random box list, as well as each model from the wallbuys.

[2016-04-04 16:33] minin43 commented on #50
@Zet0rz Fantastic

[2016-04-04 16:33] Zet0rz commented on #92
Hellhounds are not affected by any sort of special targeting (although we should code them to target TARGET_PRIORITY_ALWAYS). And by extension, they also only ever target one player and never change until he gets downed or killed.

[2016-04-04 16:35] Zet0rz commented on #82
@minin43 Map Scripts essentially allows you to run code along with a single map config. You could then program anything in to make that config special. By Pack-a-Punch 'objective' I mean a special way to get to PaP. For an example, in Der Riese you need to link all teleporters. In Kino der Toten you can only teleport there temporarily. In Ascension you need to launch the rocket. In Call of the Dea

[2016-04-04 16:39] minin43 commented on #94
The base CW2.0 pack + the creator's "additional weapons" pack has almost 15 weapons, I believe. That, combined with the BO2 recreation pack for CW2.0 (which adds in 6 guns from BO2), account for most of the guns I use on my server, and that's 3 packs.

Now, I've added in a few more "flavor packs," which are mainly for me because I'm so used to the other guns that these new ones help spice things u

[2016-04-04 16:42] minin43 commented on #82
So that makes logical sense, but how can someone such as myself set that up? Does it require hammer map editor, or something?

[2016-04-04 16:42] minin43 commented on #92
I'm fairly certain the dogs can switch targets to another player without either needing to be downed.

[2016-04-04 17:11] Zet0rz commented on #92
Nope, they don't in the original games (maybe in some custom maps). The only time their target change is if their previous target becomes invalid for whatever reason (downing, teleporting, flying etc)

[2016-04-04 17:13] Zet0rz commented on #82
No it requires Lua scripting skills. There'll be some handy functions, but generally it'd need you to know how to code something for gmod, like an addon or a gamemode. Another plan I had for a map with that was to make the special rounds make the lights in the map break and the map becomes fully dark.

[2016-04-04 17:15] Zet0rz commented on #94
I am not gonna AddWorkshop anything when it isn't required. You will be able to play all the default configs even without the default weapons by using the mismatch system. AddWorkshop'ing is much more for dedicated servers to do (which might by why you want to), but for addons for the general public, you never want to make them download stuff they may not need.

[2016-04-04 17:22] minin43 commented on #92
Probably just my imagination then

[2016-04-04 17:24] minin43 commented on #94
Fair enough. And "requiring" other addons for seperate configs uploaded to the workshop should work just fine.

What about the default weapons, though? There's gonna need to be one for the configs that come pre-included in the gamemode addon

[2016-04-04 17:26] minin43 commented on #82
I have a decent understanding of how code works. I understand most of the advanced concepts of coding, I just lack experience. But writing scripts that edit the map is new to me. Could you explain and/or write a tutorial?

[2016-04-04 17:36] Zet0rz commented on #94
Probably CW2 if we can figure out a smart way of collecting them to make it easy. Else, FAS2.

[2016-04-04 17:38] minin43 commented on #51
My friendo said she would have to wait until Summer time (I'm American, dunno how European country's school year work, but I get ~3 months off in the middle of Summer) to do it.

[2016-04-04 17:46] Zet0rz commented on #82
Probably will do when it gets fully released. For now, you'll probably want to look into the gamemodes own code to see what you can do. Particularly in `gamemodes/nzombies3/gamemode/mapping/sv_mapping.lua`

There's a template map script file in `lua/nzmapscripts`. Place any map script you make in there and name it the exact same as your config's .txt file, and be sure to tick Map Script in the Map

[2016-04-04 17:50] Zet0rz commented on #51
That's probably too long, we'll have released the workshop version before then.

[2016-04-04 17:55] Zet0rz commented on #93
I've seen them, but I'm not so sure whether to replace them in their current state. While the smudge/blur have been removed, the round parts are not really smooth. Particularly the bullet tip on Jugg, but also the guns on Mule Kick and all the rest. And I'm not even sure if the smudge/blur is actually better, since it smoothes out the texture when viewed as small as they are :/

[2016-04-04 17:56] Zet0rz commented on #92
Back to topic though, let me know the lag state of the new system and how well it is balanced. I'll close this if it's good, or keep it open to improve :P

[2016-04-04 18:06] Zet0rz commented on #80
It seems to be fire zombies in general doing no damage. Will fix.

[2016-04-04 18:08] Zet0rz commented on #80
Turns out it wasn't a bug, but intentional. Anyway, increased the damage on them from 0 to 20-30. They will still explode with a little delay.

[2016-04-04 18:08] #80 closed, assigned to Zet0rz

[2016-04-04 18:08] minin43 commented on #94
You can upload the guns as a part of the game mode. Just give credit to the author, and you're protected by Steam.

[2016-04-04 18:09] minin43 commented on #92
Will test tonight

[2016-04-04 18:10] minin43 commented on #51
I understand, so do your own thing and don't expect anything from me

[2016-04-04 18:11] minin43 commented on #82
Will do

[2016-04-04 18:23] Omnipotiontated commented on #94
I was thinking the TFA CS:GO weapons. I use them and they work nicely, the wall buy outlines for them are gorgeous.

[2016-04-04 18:55] minin43 commented on #94
Are they customizable? Easy to work with? Link to the workshop page for testing?

[2016-04-04 18:57] minin43 commented on #86
Isn't this your "1-inch punch" weapon?

[2016-04-04 19:32] Zet0rz commented on #86
http://callofduty.wikia.com/wiki/One_Inch_Punch

[2016-04-04 19:39] Zet0rz commented on #94
Uhm no, that's not how copyright works? I can't upload anyone elses material without permission no matter what, even if I credit.

Steam & Gmod Workshop rules. Even if I could, I wouldn't want to include any guns in this gamemode. I want to encourage as much freedom as possible. The only reason I have to chose a default pack is for my own configs in the official release lol.

[2016-04-04 20:14] minin43 commented on #86
So yes?

[2016-04-04 20:22] minin43 commented on #94
The creator of CW2.0 did not and can not copyright the addon he uploaded, as it uses other people's resources. The CW2.0 pack and it's derivative addons are under no copyright protection (save packs that have files ripped from other ACTUAL copyrighted games, such as CoD- and even then not always). This means Steam will not, and I stress this because I've experienced this battle before, take down y

[2016-04-04 21:11] Zet0rz commented on #86
So no, One Inch Punch is much more powerul, waaaay too powerful to be put on a wall in any config (don't do it xD).

[2016-04-04 21:12] Zet0rz commented on #94
Do that :P

[2016-04-04 21:13] minin43 commented on #86
So it's supposed to be something earned through doing something on the map?

[2016-04-04 21:15] Zet0rz commented on #86
Exactly. Pretty much map script exclusive.

[2016-04-04 21:26] func-octo commented on #93
I'll see what I can do. I realized today that I forgot to smooth out jugg. :)

[2016-04-04 21:34] func-octo commented on #93
As always, feel free to be pixel specific in your suggestions so I can do all i can to help!

[2016-04-04 22:01] Zet0rz commented on #93
I'd say smooth out the tip of jugg, smooth out the circles around the radiation sign on PhD, smooth out the curves on the Mule Kick guns, and finally probably remake the DTap 1 icon :)
You also got the coloring of Deadshot wrong, it is green-ish grey, not black. Refer to the wiki for Zombies or the perk machine itself :P

[2016-04-04 23:38] Omnipotiontated commented on #82
@minin43 I'm currently working on a map sincere to this game mode, here's a few images so you'll get the Idea

![nzombies30005](https://cloud.githubusercontent.com/assets/18220400/14267250/3b79906c-fa94-11e5-9b62-826fb212f55d.jpg)
![nzombies30004](https://cloud.githubusercontent.com/assets/18220400/14267252/3eafef56-fa94-11e5-90f6-35d70167650c.jpg)
![nzombies30001](https://cloud.githubusercontent.

[2016-04-04 23:43] Omnipotiontated commented on #94
http://steamcommunity.com/sharedfiles/filedetails/?id=533104097

They aren't customizable if you're talking about adding sights, mags, etc. Although there are skin packs (which I don't use) and a few of the weapons allow you to add a suppressor.

They're nice and basic relieving a lot of lag if your someone with a "non to good" computer. Think of it as M9K but a lot less shittier and more optimize

[2016-04-04 23:52] minin43 commented on #82
sweet

[2016-04-05 14:40] Zet0rz commented on #94
I am personally against using "remake" weapons as the official ones, with maybe the exception of CoD itself. So I will be much more likely to go with stuff like CW2 and FAS2.

[2016-04-05 15:08] minin43 commented on #94
While we're on the topic, you can open up the customization menu of any CW2.0 gun by pressing the default key of c, or, +context_menu. If this could somehow be disabled so players are unable to look at all of the attachments. There's also a bug about this, which I will post about soon.

[2016-04-05 15:09] minin43 commented on #84
Can this be increased in priority? Cause I've got some maps this'd be useful for and I can't work on maps without this.

[2016-04-05 16:23] func-octo commented on #93
Thanks! Yeah, Photoshop bugged out and it kept using black instead of greenish gray. I must've had it set to grayscale for some reason :P

[2016-04-05 16:36] func-octo commented on #93
Don't know if this is what you meant, but mulekickV2.png is now on drive. They are right next to each other so use arrow keys when previewing to do a comparison. Others coming sometime soon (All new ones will be labeled with a V2 since they are improvements. Also drive sorts them by name so they can be side by side.) since I have a job and school to worry about :)

[2016-04-05 16:43] minin43 commented on #93
@ScriptnLua Is the second one supposed to be worse looking? The first looks loads more sharp and nicer to look at.

[2016-04-05 17:48] func-octo commented on #93
@minin43 Second one? Do you mean Mulekick? It looks bad when you zoom out all the way on chrome while the second one looks smooth from far away. they're meant to look nicer farther away rather than up close.

[2016-04-05 18:15] minin43 commented on #93
No, the second one looked crap from far away, imo

[2016-04-05 19:17] Zet0rz commented on #93
Yeah the second Mule Kick icon didn't really work out as I intended lol. But no worries, we got time :P
The thing I suggest changing (from the V1 icon) is to smooth out the slightly jagged curves. Not something you would do with a blur tool, but rather zoom in a lot and use a smooth eraser. Try to make it look as clean as possible.

[2016-04-05 19:18] Zet0rz commented on #84
Alright, will look into this next. I am currently modelling the Hellhounds though, the models we got turned out to be not so good lol

[2016-04-05 19:20] Zet0rz commented on #94
If you mean the bug of it causing you to change the weapon, then yeah, I do already know this. However as to removing it, I think I will keep it in, as when PaP'ing you actually get the attachments so that you can freely equip and unequip them. I know this isn't how CoD works, but I thought it would be nicer for players to pick which sight they want when they got them all, especially because in Co

[2016-04-05 20:19] minin43 commented on #94
No, it's a bug with PaP where sometimes you're given the attachments after PaPing but they aren't equipped automatically.

[2016-04-05 21:50] Zet0rz opened #96 "Special Round Zombies stick until next config-defined round"
They should revert to default after the special round. Perhaps the best system would be to use a seperate table of Special Round data and refer to that, so that we preserve the previous normal rounds' datas.

(The round config system works by giving tables of chances of zombie types, and the previous one set will last until the next one set. So setting to hellhounds will make it hellhounds all the

[2016-04-05 21:52] Zet0rz opened #97 "Delay Zombie spawning"
Even though we have the preparation phase, we'll want some more delay after the round actually sets in. A possible solution is to just delay zombie spawning, but another option is to make the Round Begin sound play earlier; making it look like a delay (and then extending the prep phase time). It may need to be further extended to make space for the "Fetch me their souls!" sound if it is a Hellhoun

[2016-04-06 04:17] Alig96 opened #98 "Updating the Wiki"
Just as a reminder/todo for anyone that wants to explain the tools and such.

[2016-04-06 05:09] #92 closed, assigned to nobody

[2016-04-06 06:48] Zet0rz commented on #82
@minin43 Got the config I use for Casino. I really liked playing this one, maybe you can use it for playtesting as well? Just remember that you may need to edit the navlocks and navmeshes again since it requires a few areas under doors. You can use `/navflush` to clear the configs data, then redo them :P
[nz_ttt_casino_b2;High Stakes.txt](https://github.com/Zet0rz/nzombies/files/205883/nz_ttt_casi

[2016-04-06 07:44] Zet0rz commented on #98
Currently going through most tools documenting their options and interfaces and controls. Anyone feel free to help create pages, but try to follow the template/style of the other Tool pages (if you make a tool page).

[2016-04-06 11:07] func-octo commented on #98
What should we do if we are trying to show how to do an action (i.e. Wall Buying, Pac-a - Punch (I already did that), etc.)?

[2016-04-06 11:10] func-octo commented on #93
Ok. So basically make circles become circles instead of those weird things in the trigger area. Among other things...

[2016-04-06 11:16] Zet0rz commented on #98
@ScriptnLua Nothing. We don't need that beginner level of tutorials; everyone already knows how to press E on stuff. Controls for tools are listed on their tool page. General controls will come eventually (Undo, context menu, Q menu, noclip, knife, grenade 1 and 2 etc)

[2016-04-06 11:23] func-octo commented on #93
V3 is now up. I realize that the trigger area is too far to the left. I'll have to fix that when I get home today (After 3PM). Just let me know if I am getting the right idea :)

[2016-04-06 11:26] func-octo commented on #97
I think you should extend the prep time the same amount of time as the wav sound for "Fetch me their souls" and play the begin round sound Before the extension (Ex. 10 seconds, play begin round sound, wait x amount of seconds until round begin sound is over, play FMTS sound, wait x amount of seconds until it is done playing that sound, THEN start the round.)

[2016-04-06 11:29] func-octo commented on #74
Currently I get lag regardless every time it changes the model, but I have a 750 Ti, so I'm not really suprised xD

[2016-04-06 11:30] func-octo commented on #86
But if you're that one guy, you could put it on a wall buy?

[2016-04-06 11:42] Zet0rz commented on #74
750ti should easily be able to handle it

[2016-04-06 11:46] Zet0rz commented on #93
Yeah it's a bit better, but it became a bit blurry as well. Also Jugg is still jagged on the bullet tip. I think the best way to get a smooth perfect look would be to take an actual bullet with the same shape, give it a stroke, and use that outline as the outline (if it fits). Then erase all but the tip of that outline and merge them together. Could be an idea of how to work with it.

[2016-04-06 13:25] func-octo commented on #93
I was using my School Issued Chromebook to draw that third mulekick just for concept. These things have bad resolution quality. I have tried that idea, but it doesn't fit. I'll make an oval for the tip and then clean it up to make it look natural. If that doesn't work, I'll find a picture of a bullet, trace it in illustrator, then give back the png. Also what does asignee do (On the right side), b

[2016-04-06 13:40] Zet0rz commented on #93
Central Europe. But you don't have to trace it in illustrator, you can just create a stroke of the bullet in Photoshop, create the layer based on the stroke, then mark the bullet and delete that selection from the new stroke layer. This is now an outline. Make it the same color and only take the tip. I don't know if you can find any bullets fitting the shape though.

[2016-04-06 13:44] func-octo commented on #74
Stats
RAM: 4 GB of RAM (GSKILL)
CPU: AMD A10 Black Series
GPU: EVGA NVIDIA 750 Ti SC
CPU Heatsink size: 6 inches wide and tall
CPU Fan Size: 6 inches wide and tall
Motherboard: BIOSTAR A36W (I think)

GPU has never gone above 35C
CPU has never gone above 40C

Yet I still go from 60 fps to 30fps on games like gmod, teamfortress 2, etc. It's more like couple minutes 60 fps, then a couple minutes of

[2016-04-06 13:45] func-octo commented on #98
facepalm = true

[2016-04-06 13:53] func-octo opened #99 "Post-Workshop Release: Model packs for zombies or players (Enhancement, Question)"
So is there any intention to add support for model packs on the workshop (Ex. ScriptnLua's TF2 Model pack. Where description would include nzombies. Basically this example is made specifically for this gamemode) where you could choose an installed pack? If so, you could check for the word nzombies in the title of it (or description if you can). That way when you add the model settings for the zomb

[2016-04-06 14:00] Zet0rz commented on #98
@ScriptnLua Did I misunderstand you?

[2016-04-06 14:07] Zet0rz commented on #99
There is, but not something it'd do automatically. The way I see this being done would be to make a function
`AddModelPack(id, {table of models}, animationid)`
Where ID is a name you want to give it (Which will show up in the Map Settings tool), the table of models is like it says, a table of models. Possibly even a table of models where each is a another table of skins and bodygroups (but maybe n

[2016-04-06 14:33] minin43 commented on #74
Who knows. Every different piece of hardware functions differently. Maybe it's a gmod thing.

[2016-04-06 14:35] minin43 commented on #86
It doesn't have a world model (unless you set one for it) so it'll show "E" on the wall. (for error, I believe)

[2016-04-06 14:36] minin43 commented on #82
@Zet0rz I have the FA:S 2 weapons, it won't be a problem. I'll take a look, and maybe make a few changes :P

[2016-04-06 14:38] minin43 commented on #97
The zombies do start spawning extremely quickly. Faster than CoD does it.

[2016-04-06 14:40] minin43 commented on #93
@Zet0rz Mr. Zet0rz is Dutch, if I'm not mistaken. Though he doesn't sound like it.

Just a reminder these don't need to be perfect. Not very many people will look extremely closely at the icons. As long as they're there, the average gmod player won't give a rats ass.

[2016-04-06 14:45] minin43 commented on #99
Don't the NPCs need the animations for it to look nice? They don't need it to function, as we saw with the hellhounds, but wouldn't it look crappy without all of the animations?

[2016-04-06 15:06] Zet0rz commented on #99
I would highly recommend using the normal zombies, but some people could find a way to port say L4D or TF2 zombies, which would then have their own animations. But any model rigged to a Valve Biped (standard skeleton) could just be recompiled with `$includemodel "zombie_rerig_animated.mdl"` and it'd have all the animations of our model. I might do this later to make "expansion themes" so you can p

[2016-04-06 15:33] minin43 commented on #99
Could you do the head crab zombies just minus the headcrabs? Change the model based on their life or speed and you could use the zombine models or something

[2016-04-06 15:47] Zet0rz commented on #99
I always work towards max compatibility, so default gmod models (of any kind) should work, as you can just load them in like any other. You just wouldn't have the nz animations unless you recompile the models.

[2016-04-06 15:49] Zet0rz commented on #93
@minin43 I'm not Dutch, but Danish :P

And true, the icons don't have to be perfect since they're viewed in small resolution. But maybe that will make the blurry ones we have now look more smooth? I'll have to compare them directly.

[2016-04-06 15:57] minin43 commented on #93
@Zet0rz Oh neat, my dad's side of the family is Danish.

[2016-04-06 16:11] Alig96 commented on #82
@minin43 I never said the maps were good, they were just the ones that I did and released, and would be grateful if they were re-done.

[2016-04-06 16:14] Zet0rz commented on #78
Closing as there's already another issue about this.

[2016-04-06 16:14] #78 closed, assigned to nobody

[2016-04-06 16:15] minin43 commented on #82
@Alig96 Most of the maps would be best saved for when nexbot ladder functionality is added.

[2016-04-06 21:43] Zet0rz commented on #97
Now implemented into commit bd6b8085f66c8de93fd013b7a3ba8fd4eda218bf
It is delayed by 3 seconds, 7 if it is a Hellhound round (to give space for the sound effect). It also adds a function `Round:SetNextSpawnTime( time )` which you can use to delay whenever (used by Hellhounds to space out their spawning 2 seconds each).

[2016-04-06 21:43] #97 closed, assigned to nobody

[2016-04-06 21:44] Zet0rz commented on #96
Fixed in commit bd6b8085f66c8de93fd013b7a3ba8fd4eda218bf
`Round:GetZombieData()` now returns a seperate table if the round is special; the two datas are kept seperate.

[2016-04-06 21:44] #96 closed, assigned to nobody

[2016-04-06 22:53] Zet0rz opened #100 "Crouch Jumping"
I always wanted to disable crouch jumping as it often leads to all those jumps, that you'd then just have to wall off with invisible walls. If crouch-jumping was disabled, it'd basically make railings actually block you from jumping over, just like general Zombies map design (to prevent shortcuts everywhere, make it more close-quater). You see this everywhere in CoD zombies maps. But the question

[2016-04-07 00:34] Zet0rz commented on #86
Actually the One Inch Punch has a world model, but it's rather weird. The "E" you're seeing isn't an E for error. It is literally _the E_ in the Error model (not anything I did, gmod itself picks the error model and the outlines just use whatever the main model is). Try holding the Weapon Buy took and pressing R on an error wall buy.

[2016-04-07 02:02] minin43 commented on #100
Just decrease jump height? Or would that not work?

[2016-04-07 03:20] Alig96 opened #101 "Wunderfizz Machine(?)"
Just reading what all the perks do on the wiki, but noticed an extra perk named the Wunderfizz Machine.

http://nazizombies.wikia.com/wiki/Perk-a-Cola

Doesn't seem to be included

[2016-04-07 05:00] minin43 commented on #101
It's not a bad idea to add it in, but it is a map-specific machine.

I also see a lot of other unused perk machines that could also be used, but I guess I don't know what resources @Zet0rz has access to.

[2016-04-07 05:06] minin43 opened #102 "Accurate Perk Cost"
So taking a look at a previous issue which was just opened up, I see that Deadshot Daiquiri costs more than it actually does. Can we switch around the cost of the machine to the correct value, 1,000? Here's the link: http://nazizombies.wikia.com/wiki/Perk-a-Cola

[2016-04-07 07:16] Zet0rz commented on #101
I am definitely aware of Der Wunderfizz, but as @minin43 said, I only have access to WaW content and what's on the workshop already. However I have seen Der Wunderfizz in a WaW custom map and I think I found someone made a download with it for WaW which may contain the models. I just haven't checked yet as I felt the other models had priority. Right after the Bowie I want to look into this.

The o

[2016-04-07 07:23] Zet0rz commented on #102
I am aware it costs 1000 on PC but that is because PC doesn't have an aim assist so the entire main point "aiming at the head" is removed. I coded in a sort of aim assist, so I felt 1500 was most appropriate. However it is only run once when aiming, so it may be less powerful and would justify 1000 (since you don't get hip fire or ADS speed either). That's some balancing questions we'll need to pl

[2016-04-07 07:29] Zet0rz commented on #100
I tried that and lowering to the point where crouch jumping is as high as normal jumping just makes normal jumping look like you're jumping 5-10 cm in real life lol

[2016-04-07 10:16] Zet0rz opened #103 "Share your Configs"
Playtesting is awesome, but not everyone can join each other's servers to play their configs. So this is a thread for sharing your configs so others can play them by themselves (or with other friends)! Just drop .txt files in here and give a little description! :D

I'll start by sharing probably my only actual non-just-for-testing config here:
[nz_ttt_casino_b2;High Stakes.txt](https://github.com/

[2016-04-07 11:25] func-octo commented on #93
@minin43 I am 1/8 native American and 1/8 German :D

6/8 'Murica

[2016-04-07 14:28] minin43 commented on #102
It's hard to find good spots to use this though. It takes a bit of falling before taking damage. I feel like 1k is appropriate for how little it does in gmod.

[2016-04-07 14:29] minin43 commented on #101
@Zet0rz Look at the wiki link, at the bottom. There were some perks that had never been implemented.

[2016-04-07 14:30] Zet0rz commented on #101
@minin43 Yeah won't implement them. Both because they don't even have models, also because they were scrapped because they were OP or just didn't work.

[2016-04-07 14:31] Zet0rz commented on #102
@minin43 I think you're talking about PhD? Deadshot gives you aim assist, not fall damage related explosions. But I can change the falldamage function to damage a bit more, it's a bit forgiving atm.

[2016-04-07 16:15] minin43 commented on #102
Derp.

Yea, I meant deadshot.

But that doesn't sound like that bad of an idea, either. PhD is really useless.

[2016-04-07 16:56] minin43 commented on #103
I can share mine, but mine also contain heavy nav mesh editing. Where can I upload them?

[2016-04-07 17:00] minin43 commented on #98
Can I get a link to the wiki, then? I can edit it in my free time, I feel like I have a good understanding of how most things work

[2016-04-07 17:33] Zet0rz commented on #98
@minin43 It's at the top, there's a tab called Wiki :)

[2016-04-07 17:34] Zet0rz commented on #103
@minin43 You could either upload a zip somewhere and link it here, or upload the .nav file itself here along with the txt. Alternatively, you could make it a Workshop Addon, just remember to update it as the gamemode finalizes :P

[2016-04-07 17:45] func-octo commented on #98
@Zet0rz  no, I meant in sudden realization xD

[2016-04-07 17:46] #84 closed, assigned to Zet0rz

[2016-04-07 18:11] func-octo commented on #74
The only reason I complain about the fps is because the mouse sensitivity goes awol. Otherwise, our eyes percieve things as 14 fps, cameras at 24 fps, tvs at 40 fps, and games at 60 fps. Some can tell the difference between 30 and 60 fps, but after 60 fps, the eye can no longer tell the difference. This is why I dislike those who complain about low fps rates of 120 fps. The End.

[2016-04-07 18:21] minin43 commented on #103
Workshop addon it is.

[2016-04-07 19:00] func-octo commented on #103
How does one upload a config to the workshop? The current wiki page for it doesn't work for me, I've tried many times.

[2016-04-07 19:43] func-octo commented on #100
why not disable jumping altogether like in WAW?

[2016-04-07 19:43] Zet0rz commented on #103
@ScriptnLua All wiki pages except the new tool ones are outdated from Alig's version. But all you want to do is structure an addon folder to contain these:
`data/nz/youconfig.txt`
`maps/somemap.nav` (If you have a nav file)
`lua/nzmapscripts/yourconfig.lua` (if you have a map script)

I will update the wiki page for Addon creation once it becomes more relevant; probably around Workshop release.

[2016-04-07 19:45] Zet0rz commented on #100
There's jumping in WaW? And I can't disable it alltogether, that would both be annoying in-game and also disable a few needed areas and generally lower map compatibility.

[2016-04-07 19:52] func-octo commented on #100
Well I meant that there isn't, but there's a mod for it. Completely gamebreaking as you might imagine. And to your second statement, that would be true. I would still add 'Disable Jumping' as a setting though.

[2016-04-07 19:53] func-octo commented on #100
P.S. I have an open pull request :) :pager:

[2016-04-07 21:46] Alig96 commented on #103
As a note you can't upload text files directly to the workshop due to txt files not being allowed. My work around was to make a wrapper so that when the lua script was run it would create the script client side.

The outdated details can be found here: https://github.com/Alig96/nzombies/wiki/How-to-get-a-Map-Config-ready-to-be-uploaded-to-the-workshop

However, you should wait for Zet0r to update

[2016-04-07 22:16] minin43 commented on #103
What? Yea you can? info.txt?

[2016-04-07 22:17] Zet0rz commented on #103
I did honestly not know that. Well, I should probably make that wrapper thing. But it seems like you can if it's located in `addon/scripts/vehicles/nz`? I just tested it, and I was able to compile a .gma with an NZ config in that folder. And we could probably load that too with the file.Find when it loads. Would that be against the rules do you think?

[2016-04-07 22:54] minin43 opened #106 "Server console being spammed with messages"
![untitled](https://cloud.githubusercontent.com/assets/7705215/14369323/b15b1dda-fce9-11e5-9076-ec2716228e84.png)

The server also crashed when I got downed. Damn.

[2016-04-07 23:33] lolleko commented on #100
Maybe a cvar, but honestly such a feature would break more than it would fix lol. Zombies can make almost any jump a player can make if the navmesh is edited good enough.

[2016-04-08 00:08] Alig96 commented on #103
https://wiki.garrysmod.com/page/Workshop_Addon_Creation

".txt files are restricted too, except for vehicle scripts"

I'll be honest, just use a wrapper, its a lot easier. If you haven't looked at the wrapper I made, its literally a lua file that when run just creates the text file locally.

File.write("the json config")

If I'm remembering it right

[2016-04-08 00:09] Alig96 commented on #103
But I'm sure you can add some bells and whistles to it, like version control or maybe it reteives the data from github.

[2016-04-08 00:10] Alig96 commented on #103
Like if you want an official pack, you could just have a folder here on github called "offical maps" and have them stored there and on the workshop just upload the map and nav mesh

[2016-04-08 00:11] Alig96 commented on #103
And when ever you want to update the config for everyone increment a version attribute on here anyway im rambling now, if you want more info on how to make it better hit me up on steam zet0r when you can

[2016-04-08 04:01] minin43 commented on #106
I played some more with a friend and the game didn't crash when we all went down.

I think it might have had something to do with solo quick revive.

[2016-04-08 06:45] lolleko commented on #103
Is .dat blacklisted aswell? because if not we could just use that instead of txt. Tbh its real stupid you can't save .json in data.

[2016-04-08 07:01] lolleko opened #108 "Add Zombie NAV_JUMP awareness back."
In a very early state the zombies would jump if entering a navmesh with the NAV_JUMP flag set. This should be added back. With this zombies could make very difficult jumps, with proper nav editing.

[2016-04-08 09:42] lolleko commented on #106
Okay, do you have anymore info on how to recreate this issue?

[2016-04-08 09:59] Zet0rz commented on #106
I know there's another short circuit in the zombie AI, I came across it when I spawned a Hellhound on the side of one of the buildings in gm_construct very high up. As to the spam, that was a debug line I didn't comment out. I already did on my end, just didn't update it.

[2016-04-08 10:05] Zet0rz commented on #103
.dat isn't listed in the blacklist unless it goes under _"only files the game can mount"_. I know the wrapper wouldn't take much of an effort, but I want to make workshop uploading as easy as possible for the user, and having to download a zip/create a github just for it isn't really easy. The way I thought of it was to have all local files saved in `/data/nz/` but when you want to upload, you jus

[2016-04-08 10:09] Zet0rz commented on #100
It's not so much that zombies can't follow, it's more to avoid the annoying work to invisible-wall off almost all railings in a map. Even though zombies could jump over them too (although it takes a hell of a time of you wanted to place navmeshes on top of all of them so they know they have to jump and not just drop through), this would make maps more open and much easier to train them, removing a

[2016-04-08 13:11] Zet0rz commented on #103
From further testing, it seems literally _no_ files are allowed unless they belong there. That means no .dat, no .jpg or .png if they're not in Materials, and no .lua if they're not in gamemodes or lua folder. However I did find a solution which works for everyone. Changing the .txt to a .lua file and putting it in `/lua/nz`. You don't need a wrapper since file.Read can read the .lua file just lik

[2016-04-08 13:43] Zet0rz commented on #103
See commit 81ececf58b144cda2ef29321ded2f7aab76b4349. Will update the wiki page.

[2016-04-08 13:49] func-octo commented on #101
My friend has bo2 origins dlc, he is trying to move it off his xbox onto a flash drive and onto a computer to see if it is the correct files. Within the week I might have results.

[2016-04-08 14:10] Alig96 commented on #101
Just because I'm interested, what is the widows' wine?

[2016-04-08 14:13] Zet0rz commented on #101
@Alig96 http://callofduty.wikia.com/wiki/Widow's_Wine

[2016-04-08 14:24] Alig96 commented on #101
Interesting... I can't help but think that perk is a little... uhh.. strange. Also from the wiki again, I remember seeing the jingles any plans to implement them? However i don't remember hearing the jingles past the first dlc map for waw

[2016-04-08 14:24] minin43 commented on #103
Is it as simple as changing the file extension, or is it in a different format? Because if it's the latter...

[2016-04-08 14:26] Zet0rz commented on #103
@minin43 The first one. You just have to change the .txt to .lua and it'll work just fine. Refer to [newly created wiki page.](https://github.com/Zet0rz/nzombies/wiki/Uploading-a-Config-to-the-Workshop)

[2016-04-08 14:26] minin43 commented on #100
Can confirm, you have to wall off just about everything, or players will jump on top of absolutely anything they can find.

[2016-04-08 14:27] minin43 commented on #106
I couldn't find anything, as console was being spammed with those messages.

Once the fix to that is pushed, I'll do more testing. I've got quite a few maps lined up.

[2016-04-08 14:27] Alig96 commented on #103
Should be that simple, the content of the file isn't changed or broken just comes in a different container.  Its like moving water from a glass to a bowl, its still water, just different container

[2016-04-08 14:28] minin43 commented on #108
PLEASE.

I NEED THIS.

NAV FILE GENERATION SUCKS ASSSS

[2016-04-08 14:30] Zet0rz commented on #101
The jingles are all already there. Although only the on-buy versions. I don't think I will be bringing the full jingles in the official gamemode, as they just play randomly anyway and you rarely notice them, plus it's extra files which are each a minute or two long.

Someone could easily create an extension that does this though, just running a Think hook to loop through all perk machines if their

[2016-04-08 14:31] Zet0rz commented on #106
See commit 81ececf58b144cda2ef29321ded2f7aab76b4349 for the message spam. See commit 448ed2ed1c00502602d81b82c74ed3f6d59e1742 for the short circuit fix.

[2016-04-08 14:31] #106 closed, assigned to nobody

[2016-04-08 14:31] Alig96 commented on #100
Its why I made the invisible wall tool in the first place. If it doesn't fix the problem, then there is a fundamental problem to the invisible wall tool itself.

[2016-04-08 14:32] Zet0rz commented on #100
@Alig96 Invisible walls are still highly useful for all sorts of other stuff, this is just a general annoyance to have to go through all the time, so it could be disabled it'd save a lot of work.

[2016-04-08 14:33] minin43 commented on #100
@Alig96 I don't feel like there is a fundamental problem with anything, it's just that eliminating player's ability to crouch-jump is a nice shortcut

[2016-04-08 14:34] Zet0rz commented on #108
This has nothing to do with nav generation, in fact to benefit of this it requires you to edit it. I don't think the generator ever adds NAV_JUMP flags. Correct me if I am wrong though.

[2016-04-08 14:35] minin43 commented on #103
I assumed that would be the case, I just wanted to be sure. Because, boy oh boy if I would have to re-do all of my map configs...

I would not be a happy camper.

[2016-04-08 14:38] Alig96 commented on #100
I'm on mobile which is why I'm not quoteing correctly.

What else are they useful for? They are there to stop players going where they're not intended to go, what else? What im saying is if its annoying to use the tool, make it easier maybe mark an area of a bounding box bottom left corner and top right corner of the area you want to block and have a small system work out how many blockers to put

[2016-04-08 14:42] minin43 commented on #100
@Zet0rz Is suggesting we find a way to eliminate crouch-jumping to undesirable places entirely, that way we don't even have to touch the invisible wall tool. Yea it has it's uses, and I'm grateful it exists, but finding a workaround would save a LOT of time (especially on really big maps).

[2016-04-08 14:43] minin43 commented on #108
I mean: a simple nav_generate command does a poor job. In lots of cases, you have to do HEAVY editing to the nav file before it functions as you would want it to.

[2016-04-08 14:48] Alig96 commented on #100
And what me and lolleko are suggesting is that the zombies can make the same crouch jumps, the problem is where the players are allowed to do it. If I'm understanding lolleko then they can crouch jump to areas too, which in theory is fine. The problem is where the players are allowed to. Now i understand what you're saying that it makes it easier not to have to do it all, but there's what im sayin

[2016-04-08 14:50] Alig96 commented on #100
The change im suggesting is similar to how this is displayed https://steamcommunity.com/sharedfiles/filedetails/?id=268191276

See how he clicks 3 areas and the area is selected and shown how big it is? Something similar should be done for the blocker tool so it only takes a second to block off an area a player shouldn't be allowed to get to.

[2016-04-08 14:56] Alig96 commented on #108
I would be glad that nav generate does what it does, would hate to not have the generator and have to do it ALL instead of just editing

[2016-04-08 15:00] minin43 commented on #100
Many, MANY places players can crouch-jump to don't have any nav stuff there. There aren't any of the boxes connected to one another on this areas because they were never generated. If your response to that is:

Why do that, when blocking the area off takes even less time then that? Especially considering the fact that nextbot AI is buggy and shitty.

But then you can take that even further by find

[2016-04-08 15:02] minin43 commented on #108
@Alig96 Of course, doing it all by hand would be a total bitch, and for that I am grateful. But the command ain't perfect, either.

[2016-04-08 15:11] Zet0rz commented on #108
What I meant was that no, this feature won't help you with nav generation, so I think you misunderstood what this feature would actually do xD

[2016-04-08 15:44] Zet0rz commented on #100
@Alig96 @minin43 Both of you have very valid points. Yes, the fact that this solution is desired _does_ mean that the Invisible Wall tool isn't doing everything perfectly. But the thing that is bad about it isn't so much the time it takes, but more the accuracy it does. If two invisible walls are placed just 1 single unit further in or out from each other, you can get stuck on those edges. Moreso,

[2016-04-08 16:09] minin43 commented on #108
ebhgaerherherr

I understand that!

I'm saying: nav generation sucks! Without editing, zombies get stuck everywhere!

If this command does as I'm thinking it does, then this'd be useful for telling zombies when they need to jump, and that would be extremely useful, because the jump thinking is bad.

[2016-04-08 17:04] Zet0rz opened #109 "Invisible Wall Tool v2"
A new invisible wall tool that works by shooting the positions you want the walls to be in.
They need to be physgun'able to be rotated.

[2016-04-08 17:14] minin43 commented on #109
You'll want it to be a 3-click thing.
Once for starting position
Once for horizontal stretch
Once for vertical stretch

[2016-04-08 17:21] Zet0rz commented on #109
![](http://i.imgur.com/qHaXFfV.jpg)

Picture of the thing right now. It is a 3-click process, one for origin, one for x and y (flat), and one for height. It is very easy to fill out an entire area with no edges like this.

[2016-04-08 17:26] minin43 commented on #109
Please keep the old ones in as well

[2016-04-08 17:37] func-octo commented on #109
Yes, I agree. Keep the old ones as well :)

[2016-04-08 17:43] func-octo opened #110 "@Zet0rz - An nZombies 'flyer'"
For the home page on the wiki I was thinking of coding some html, taking a screenshot, and you could make it the home page. Here's what I have so far if you are interested.

A little fact about me:  I know a lot of HTML and CSS and have started redesigning www.falconkits.com, but have only just started learning LUA

Either download and open or use Editey (Not recommended)
https://drive.google.com/

[2016-04-08 18:02] Zet0rz commented on #109
Looks like rotating won't work really well. The physics box it generates is aligned to the world. The old invis tool will definitely stay because of this, but if it gets fixed I may replace them (only if this one can rotate the boxes like any other box).

In the case that happens, I will try to add backwards compatibility by loading all the models' sizes in and generating these based on that.

[2016-04-08 18:04] Zet0rz commented on #110
I don't really think a garry's mod gamemode needs a website unless it's hosting things, I'm not entirely sure what you want to do with this :/

[2016-04-08 18:10] Zet0rz commented on #109
Added in commit baae3c45e14e02826371043aeb688e0a9678afc1. Should definitely make blocking off large railings and/or areas much easier. Most map parts are world-aligned anyway. If I can get this working with rotation, I will add that functionality, but that would be later. For now use the old invis tool for those diagonal ones.

[2016-04-08 18:10] #109 closed, assigned to Zet0rz

[2016-04-08 18:17] lolleko commented on #108
lol thanks :D You can use the `nav_jump` and `nav_no_jump` commands to set this flag while in nav_edit mode, but as of now it doesn't do anything. Jump areas must/should only have 2 adjacent nav areas, so that the jump area serves as connection between the low and high area (https://developer.valvesoftware.com/w/images/e/e5/MaximumJumpCrouch.jpg). I will probably make a advanced nav editing tutori

[2016-04-08 18:27] lolleko commented on #102
Maybe let the map script creator set the price of a perk machine, I think that would be cool.

[2016-04-08 18:47] minin43 commented on #108
I'm experienced with nav editing, but I don't know everything. I'd appreciate it.

[2016-04-08 18:58] Zet0rz commented on #102
I actually added that functionality together with the Solo Quick Revive thing, it's what sets it to 500 and updates back to 1500 if another player drops in. You can do `perk:SetPrice( int )`. I also changed the system to this internally anyway.

[2016-04-08 19:13] lolleko commented on #102
Oh lol didn't notice. Is it also implemented in the tool menu & context menu.? Also can you have multiple perk machines of the same type with different prices? (I know it does work like that in cod, but I have some scenarios in mind where this could be useful)

[2016-04-08 19:18] lolleko commented on #93
Germany (UTC + 2 / CEST) if anyone is interested lol. And we can't assign you, but it isn't that important tbh we know that you are working on this :)

[2016-04-08 20:04] Zet0rz commented on #102
No and I won't do this as I don't want to encourage things that aren't like in CoD, that includes price on Random box as well. However if you really want to, you can create a map script with it. I keep stuff like that to scripting so it is only done by those who reaaally want to.

[2016-04-08 20:55] func-octo commented on #110
Lol, I could see how you think that. What I mean is I'd like to make graphic for the wiki home as a png, but I'll use HTML to make it because it's much more precise than photoshop. I just need you to write the body of it where it explains what it is and such.

[2016-04-08 21:43] Zet0rz commented on #100
This problem should be virtually fixed with the new Invisible Wall tool. The only places this won't make a quick deal of it is on diagonal areas. Those few areas can be solved with normal invis blocks, so it's fine.

[2016-04-08 21:43] #100 closed, assigned to nobody

[2016-04-09 06:02] minin43 opened #111 "Easter Egg Music Doesn't Play"
[ERROR] addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/easter_eggs/cl_ee.lua:30: attempt to perform arithmetic on local 'streamstart' (a nil value)
1. onsuccess - addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/easter_eggs/cl_ee.lua:30
   1. unknown - lua/includes/modules/http.lua:34

[2016-04-09 10:29] RukoSanada opened #112 "Round Six and weapon cycle"
Upon reaching round six nothing really happens. I also tried disabling the special rounds just to avoid it doesn't seem to care as it happens anyway. I spawned the burning zombies with the spawn tester to see what their deal was. They seemed to enjoy the life of doing nothing.

Sometimes buying a weapon or grabbing a weapon from the box just kind of force swaps you to your grenades and you have to

[2016-04-09 12:19] Zet0rz commented on #112
I'll go investigate this. Something may have broken along the way, at the moment I'm testing with nz_test_hellhounds on which replaces special rounds with hellhounds.

I've never seen this before ever except with a specific weapon pack (Black Ops Cold War pack I think), which I did fix on my end, but the guy who reported it said it was still going on. Does this happen with a specific weapon pack,

[2016-04-09 12:49] Zet0rz commented on #111
There is no problem with it. Did you type in an invalid URL? It happens if the URL in the http.Fetch isn't valid. I got it when I replaced all // comments with --, which also replaced the URL "://". Make sure the URL is as it says it needs to be here on Github, and then make sure you use a valid URL that can be streamed (people can turn this off if they want).

[2016-04-09 12:57] Zet0rz commented on #111
Commit f96329219cddac8b3c152c83e43e1e18b124318b makes it print "This Soundcloud song does not allow streaming." when this happens rather than throw an error. Make sure your URL is valid.

[2016-04-09 12:57] #111 closed, assigned to Zet0rz

[2016-04-09 12:58] Zet0rz commented on #112
Commit 389c7d2a2f4d69a44395901e2fe280b0c0ad9874 fixes the fire zombies doing nothing. Also fixed the config having a hard-coded special round from back before the automatic special rounds system was added. Can't look into the grenade bug until I know which weapon pack it happens with, as I need to be able to test it.

[2016-04-09 17:22] RukoSanada commented on #112
Looks like it's happening with (GDCW) Nikolai's WWII Swep Pack. [Also it seems like the changes to fix the burning zombie made the random box lose it's properties ''No weapon is available'' Upon checking the tool itself seems like you can longer make edits as to what weapons spawn or doesn't spawn.]

[2016-04-09 18:58] Zet0rz commented on #112
I don't think the random box tool ever had those settings? The list of weapons that the random box can use is set in the Map Settings tool when Advanced Mode is on.

I'm gonna take a few tests with this weapon pack and see what I can come up with.

[2016-04-09 19:27] Zet0rz commented on #90
This has been (hopefully) fixed in commit 6764e46b3986cf0a01b0e60d7a7eed98ee273a2f. Read its changelog to see what it does.

[2016-04-09 19:27] Zet0rz commented on #74
Done in commit 6764e46b3986cf0a01b0e60d7a7eed98ee273a2f

[2016-04-09 19:27] #74 closed, assigned to nobody

[2016-04-09 19:38] Alig96 commented on #74
Have you remembered precacheing the wall weapons too?

[2016-04-09 20:16] Zet0rz commented on #74
@Alig96 Yup they do that on creation! (So it may lag in creative and on Round Start, but shouldn't on bought)

[2016-04-09 20:26] minin43 commented on #74
@ScriptnLua What.

What are you high on.

Do you just spout whatever bullshit crops up in the 'ol noggin?

You can tell the difference between 30 to 60 to 120 to 240 FPS. Sure, the higher the framerate, the more the law of diminishing returns applies, but you CAN tell the difference. It's a proven fact.

[2016-04-09 20:26] minin43 commented on #90
Yay! Time to test!

[2016-04-09 20:27] minin43 commented on #112
Make sure you have @Zet0rz version and not Alig's, I made this mistake.

[2016-04-09 20:27] Alig96 commented on #74
It was a joke buddy, its the whole "consoles vs PC" debate

[2016-04-09 20:28] minin43 commented on #111
It should be valid, I'll have to double check. There's a chances I mighta not copied the first w, or something.

[2016-04-09 20:31] minin43 commented on #74
That most definitely doesn't look like a joke.

[2016-04-09 20:36] RukoSanada commented on #112
I have the right version, I'm quite sorry I just had a minor brain explosion. Yeah I completely forgot that it was within the Map settings. Lack of sleep does that. I'll continue to keep an eye out for any other bugs I come across, as well as any other weapons that may also have this issue.

[2016-04-10 00:24] Zet0rz commented on #79
Seems to happen if another player joins, it resets the status for all other players.

[2016-04-10 08:08] lmao5677 opened #113 "Drawing Wallbuys (Enhancement)"
Like in buried in BO2, you can get chalk drawings of items then draw it on the ?. It rewards you with 1000 and if you draw the final one, you get 2000 points.

[2016-04-10 11:48] RukoSanada commented on #112
It seems like this issue is bigger than I thought this effects a massive amount of sweps from what I've been experiencing. The follow sweps that I have tested that have been affected by this bugs are [ Modern Warfare 2 Weapons Pack, Star Wars Weapons [SW weps seem to work with themselves but not with other packs weps.], CSO Weapon Pack, CSO/CF Weapons Pack, Halo SWEPs- UNSC, And every M9K wep pack

[2016-04-10 12:54] Zet0rz commented on #113
Should be fairly easy to make, but I'll probably put it low priority, maybe not even before workshop release.

[2016-04-10 13:35] lmao5677 commented on #113
Ok, if that's up to you then.

[2016-04-10 16:01] Zet0rz commented on #89
This was done in commit 4e6b87dacfd227ac2e6bc4cb2a7dfe46d2ff3c54

[2016-04-10 16:01] #89 closed, assigned to Zet0rz

[2016-04-10 16:01] Zet0rz commented on #86
Fully finished as of commit 6173353a5efb2d3bf29cfcccb448d3261553f146

[2016-04-10 16:01] #86 closed, assigned to Zet0rz

[2016-04-10 16:02] Zet0rz commented on #79
As of commit 6173353a5efb2d3bf29cfcccb448d3261553f146, this should be effectively fixed. It will still be wrong networking (clients still think they are locked), but the collision and visibility is controlled by the server, so they will still be walk-through and invisible.

[2016-04-10 16:02] #79 closed, assigned to nobody

[2016-04-10 16:10] Zet0rz commented on #41
Final stage of beta on commit 6173353a5efb2d3bf29cfcccb448d3261553f146. The next one will incorporate it into the main game with no convar to turn off (you'll have to disable special rounds and/or use the coming Map Setting to change what spawns)

[2016-04-10 16:10] Zet0rz commented on #44
See commit 6173353a5efb2d3bf29cfcccb448d3261553f146

[2016-04-10 16:10] #44 closed, assigned to nobody

[2016-04-10 20:52] Zet0rz commented on #112
I have just tested a whole bunch with all sorts of weapons from M9K and I just can't get this to happen at all. But I was just playing on another server playing this gamemode, and it did happen there every time, even for me. I think it might be a name conflict where the two mods use same named variables.

Either way, in commit b569a64cd02a8a9d83ded361f78d9aaae719cb7b I have changed how the special

[2016-04-10 22:48] Omnipotiontated opened #115 "More Zombie Types?"
So far theres the Zombie, Napalm Zombie, and Hellhound
Are we going to see others like a Crawler Zombie, Zombie Monkey, Shrieker Zombie, etc.
And maybe even bosses such as The Panzer and George Romero?

[2016-04-10 23:19] Alig96 opened #116 "Being downed in creative mode"
You can be downed in creative mode. I was nocliped and hit the ground too hard and got downed. When you die you go back to normal, but its an issue worth mentioning.

[2016-04-10 23:20] minin43 commented on #115
@Zet0rz doesn't have access to those models, so if someone has BO/BO2, they can probably give him the resources.

[2016-04-10 23:33] func-octo commented on #115
I recommend a zombine-type zombie with a chance to hold a live grenade and suicide when it explodes.

[2016-04-11 01:11] minin43 commented on #115
@ScriptnLua The zombies that explode when you kill them are already close enough to that, no?

If anything, I'd like to see a bit more of a focus on difficulty increase when the power turns on.

[2016-04-11 01:14] RukoSanada commented on #112
I'll get right on it right now, I'll edit this post with results.

[Seems like these changes broke the Melee function it just doesn't work anymore and the following problems are still there.]
[Update Nevermind the Melee function. I retried it again under a fresh install just to be safe. Melee seems fine again? Could've just been a rare thing. However the exact same problem with the weapons exist.]

[2016-04-11 05:09] Zet0rz commented on #116
Use /revive chatcommand

[2016-04-11 05:12] Zet0rz commented on #115
I definitely want to do this and I might be able to get the resources for WaW because a lot of people are converting stuff back down to that game for custom maps. I'm just not sure how to implement them. Like how do you define how often they appear or what type of specials will appear? The only real way I can see is with map scripts. Thoughts?

[2016-04-11 06:13] Zet0rz commented on #112
Right. I have absolutely not been able to reproduce the issue on my client, however it happened all the timer in another server I was betatesting in. That included the inability to melee. I think that might happen just before the grenade swap, because it happened when I got my second weapon from the box. But in general, I really have no clue why gmod would switch to the nades when the PlayerSwitch

[2016-04-11 06:39] RukoSanada commented on #112
Could by some odd chance another mod possibly interfere with this gamemode causing these things to happen? It just seems odd based on what you're saying that this is happening only in selective areas I.E for me and that server you speak of. Unless it's just something else we really can't figure out.

[2016-04-11 09:22] Zet0rz commented on #112
I was very certain it was because of the variable player.UsingSpecialWep might be used by those other mods, but I changed that to a NetworkVar the other day and you said that didn't change anything. I doubt it would be the classname itself on the grenades as I don't know of any code using nz_ prefix other than this.

However when I did encounter this (which I then fixed) on my laptop, I put debug

[2016-04-11 10:48] lolleko commented on #108
Added in #117 see https://github.com/Zet0rz/nzombies/wiki/Advanced-Navmesh-Editing#jumping for a quick guide.

[2016-04-11 10:49] lolleko commented on #108
I will keep this issue open for now, since there is still a bug in the zombie jumping, where zombies will jump "down" areas they should only jump "up".

[2016-04-11 11:32] #110 closed, assigned to nobody

[2016-04-11 11:54] Alig96 commented on #116
I don't understand, is this intended behavior? Since someone made a pull for it to be added to the read me??

[2016-04-11 12:00] Zet0rz commented on #116
I'm not gonna prevent downing in creative mode, it'd be better to use the same mechanics globally in the entire gamemode, also so that players can test/experience the mechanics in creative mode (just like they can buy things if they get points). /revive was just added so that you don't have to lua_run it every time to get back up. It is also in the cheats menu.

[2016-04-11 12:23] #116 closed, assigned to nobody

[2016-04-11 14:25] minin43 commented on #115
I have BO3, do you need any resources from BO3?

[2016-04-11 14:41] #82 closed, assigned to nobody

[2016-04-11 14:42] minin43 commented on #70
Update on this? Got anything new related to it? Would you like to see the error it prints out?

[2016-04-11 14:42] #55 closed, assigned to nobody

[2016-04-11 14:44] minin43 opened #119 "It's become too easy"
The game's become too easy. Thoughts on increasing life and maybe speed per round?

[2016-04-11 14:46] minin43 opened #120 "Zombie Crawlers?"
In the CoD games, you could use grenades to blow out a zombie's feet, leaving only a torso and arms, creating a zombie crawler.

Is this functionality available to us to make use of as well? The HL2 headcrab zombies had this functionality

[2016-04-11 15:00] Zet0rz commented on #120
Not in the base models, but I am able to extract and rig the crawler models and their animations, then manually change their models when they get blown up to that of crawlers. It will take some time though and I will only do it after all the other models I have to work on, if at all before workshop.

[2016-04-11 15:01] Zet0rz commented on #119
Use the balancing discussion issue instead. The list of things we can change are in there. Remember that a lot of the difficulty lies in the how tight the map is as well, so it's bound to be easy if your maps are too open.

[2016-04-11 15:01] #119 closed, assigned to nobody

[2016-04-11 15:03] Zet0rz commented on #70
I have changed a lot of how the special weapons system works and I may have gotten around this while working on other things. Then again, maybe not. It's a later priority, probably only something that'll be fixed in the cleanup right before release.

[2016-04-11 15:04] minin43 commented on #42
The gamemode feels too easy. Even in small, tightly quartered maps (not only do the zombies get stuck frequently, but), I can easily survive to round 16+ no problem, and at that point (when I have 2 PaP guns and all 4 perks) it's a matter of "how long do I want to keep on playing because I'm getting bored."

Can we increase zombie speed/life per round?

[2016-04-11 15:07] #102 closed, assigned to nobody

[2016-04-11 15:07] Zet0rz commented on #115
Hmm, I'm not sure. I didn't really like the aliens from Shadows of Evil, so probably not any of them. Things we need atm are Der Wunderfizz on/off/away, all perks after WaW's off models, death machine weapon and viewmodel, fire sale model, Widows Wine if possible. After that, there's of course models that we don't need but would be cool like the newer Hellhounds or Zombies from Der Eisendrache.

A

[2016-04-11 15:09] Zet0rz commented on #42
We could increase their health curve a bit, maybe make it 100% like the original with +100 health every round until round 10, from where it's +10% (steeper than now, it's now +10% every round). We can also change start health from 75 to 100. I want to slow down zombie speed curves in general to match CoD better, but I can make it increase a bit faster. Thoughts?

[2016-04-11 15:09] minin43 commented on #115
@Zet0rz If you can point me in the right direction I'll see what I can do. I just don't know where to look for an extraction tool.

[2016-04-11 15:14] Zet0rz commented on #42
Try using the convars to increase the difficulty in terms of health. Set their base health to 100 and see what difference it does. Then try changing the 1.1 to another multiplier (per round multiplier). Tell us which seemed better.

[2016-04-11 15:20] Zet0rz commented on #115
I've got no clue on BO3 either. The best I can point you out is to google it lol

[2016-04-11 19:05] func-octo commented on #115
I use Lime or Lemon to extract models. It doesn't support BO3 though :\
http://tom-crowley.co.uk/downloads/

[2016-04-11 20:54] Zet0rz opened #121 "Nav Editor Tool"
An actual tool that will make it possible to edit the navmesh in-game. It'd need a fancy GUI in the Q-menu, including seperating "nav_save" and other permanent commands into a "dangerous" area. This tool needs to be able to do almost all nav_ commands. It should only be available in singleplayer games.

[2016-04-11 21:54] #120 closed, assigned to nobody

[2016-04-11 21:54] minin43 commented on #98
I was working on a page and it all got deleted :(

[2016-04-11 23:03] Alig96 opened #122 "The official nav meshs don't load."
Title. They don't load from the folder they;re in at the moment, you have to move them to your maps folder manually which is a small issue.

[2016-04-11 23:21] Omnipotiontated commented on #121
There is already a Navigation Mesh Editor on the workshop, I use it in sandbox to edit the Navigation and it works great. I'm sure its created by Robotboy

[2016-04-11 23:35] Alig96 commented on #121
Yes, the but this is to add it natively to nzombies so you dont have to go to sandbox.

[2016-04-12 00:56] Alig96 opened #123 "Electric Cherry doesn't work"
[ERROR] addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/function_override/sh_meta.lua:108: attempt to index field 'Effects' (a nil value)
1. v - addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/function_override/sh_meta.lua:108
   1. unknown - lua/includes/modules/hook.lua:84
   2. SetAnimation - [C]:-1
      1. unknown - workshop/lua/weapons/fas2_base/shared.lua:450

[2016-04-12 01:08] Alig96 opened #124 "ttt_kosovos: After using a gas canister, it doesn't respawn after being teleported back"
Title.

[2016-04-12 01:16] Alig96 commented on #124
Sorry yes they do, seems like they spawn on a new round??

[2016-04-12 01:16] #124 closed, assigned to nobody

[2016-04-12 07:07] Zet0rz commented on #123
Lolle updated the effects module to use a single table but didn't change it in the places it was used. Done quickly in 47cc8137a642e7ee8b0b2624d0399f79a3f9cd1c

[2016-04-12 07:07] #123 closed, assigned to nobody

[2016-04-12 07:39] Zet0rz commented on #122
I think it is a gmod bug that was fixed in the March Update which was then reverted. See https://github.com/Facepunch/garrysmod-issues/issues/1455. Not sure when we'll get this fix in the live branch

[2016-04-12 07:51] Zet0rz opened #125 "Creative Functionality Improvements"
Rather than Creative Mode being applied automatically to all Superadmins upon entering that mode, it should be individually set for each player. E.g. an admin going to Creative mode should not bring all other admins in, only himself. Every admin will then be able to drop in and out individually.

We'll also want admins to be able to give other non-admins creative mode, as well as a "Trusted" statu

[2016-04-12 07:52] Zet0rz commented on #121
That is the one we're trying to replicate the functionality of. It would be really helpful to be able to do it in-game as you can see the props you placed in the gamemode here. Otherwise you'd have to go into sandbox and try and remember where the props were and how big they were.

[2016-04-12 08:24] Alig96 commented on #125
You should just make some basic permission hooks. Then the server owner can choose their own admin system and just hook it up. I.e

OnChangeMode( ... )
if player is admin then

OnDropInCreative

[2016-04-12 09:07] Zet0rz commented on #125
Stuff like `if hook.Call("nzPlayerCanGoCreative", nil, ply) then` could work. We could also use `PlayerCanUseTool` but we'd need networking for that to make it update client-side in the Q-menu.

But what I was thinking was just a simple trust system with 1 or 2 levels of trust, where each gives permission to do certain things. Since Creative Mode is more often used in single player or passworded l

[2016-04-12 10:46] lolleko commented on #121
To be honest the fastest way to edit a navmesh is a bind config not a tool.

[2016-04-12 11:03] Zet0rz commented on #121
Probably, but a tool is much more nice, you don't have to unbind everything or be scared that you accidentally do stuff (the only undo is reload), and you also don't have to mess with game configs.

We should make the tool regardless.

[2016-04-12 14:29] minin43 commented on #121
I don't want to rebind everything

[2016-04-12 14:32] minin43 commented on #122
I read through that link, and the OP updated with this:

[2016-04-12 14:45] Zet0rz commented on #122
I'm sure I've seen it on the changelog for the March Update, but it's now gone.

[2016-04-12 14:46] lolleko commented on #121
Yes I agree a tool is defiantly better for newbies. But if you are somewhat good at nav editing and want to be efficient, a config is definitely the best. I use a modified version of this https://developer.valvesoftware.com/wiki/Nav_mode.cfg (so if you are advanced check it out). If not the tool will be included soon.

@minin43 you won't have to rebind anything if you set it up correctly. Regardle

[2016-04-12 14:50] minin43 opened #126 "Zombies don't despawn"
Zombies don't despawn when fully submerged in water (or sewage, in my case). Whatever's been implemented doesn't work for me.

[2016-04-12 14:55] lolleko commented on #126
It's probably map related. Maybe the water level was not setup correctly by the map creator.

[2016-04-12 14:56] lolleko commented on #122
http://wiki.garrysmod.com/changelist/

[2016-04-12 15:02] minin43 commented on #122
Sweet

[2016-04-12 15:03] minin43 commented on #126
Well it isn't water, it's damaging sewage. Is that treated differently?

[2016-04-12 15:04] Zet0rz opened #127 "Item Carrying System"
If you've played Breakout on _ttt_kosovos_ with its map script, you have likely encountered the Gas Can that you use to get to PaP. Currently, it uses local booleans in the lua script to handle whether it has been picked up or not, but it is not optimal.

The system we'll want to add should work as a full module that is easy to use (but still require a Map Script to even be called), that includes

[2016-04-12 15:07] lolleko commented on #126
I guess so at least its not `CONTENT_WATER`, which is used to test if a zombie is underwater (http://wiki.garrysmod.com/page/Enums/CONTENTS). Maybe its slime? Idk whats the map's name maybe i can figure it out and make them despawn in there aswell.

[2016-04-12 15:14] Zet0rz opened #128 "Major Easter Egg System"
A system that would make handling Easter Eggs easier in Map Scripts. Instead of tons of booleans and checks, the system would run in a **Step-based** system. In map scripts you would create these steps and what they do when achieved. The system would then auto-increment the current step to allow the next to be completed. The system would auto-block CompleteStep functions for steps that we currentl

[2016-04-12 16:10] minin43 commented on #126
zs_sludge

[2016-04-12 18:31] minin43 commented on #128
Can we get it so that we can use different props for Easter eggs?

[2016-04-12 18:54] Zet0rz commented on #128
Props, buttons, triggerzones (stuff you can buy/use by standing inside, similar to teleporters where you buy them just by standing in them, no need to look at them), soul catchers. Those are the entities so far planned to be available in Map Scripting. Any entity can have a OnUsed function set (including map-based ones), this is how I got the Gas Cans to register being picked up. All of these enti

[2016-04-12 20:39] Alig96 opened #129 "When trying to change a wall buys with the c key"
[ERROR] addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/interfaces/sh_int_weps.lua:20: attempt to call method 'GetEntName' (a nil value)
1. unknown - addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/interfaces/sh_int_weps.lua:20
   1. func - addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/interfaces/sh_sync.lua:37
   2. unknown - lua/includes/extensions/net.lua:3

[2016-04-12 21:25] lolleko commented on #126
Can you look at the sewage and execute `lua_run print(bit.band(util.PointContents(Entity(1):GetEyeTrace().HitPos),CONTENTS_SLIME))` and tell me what it prints?

EDIT: I tested it myself, it is actually flagged as CONTENT_SLIME not CONTENT_WATER I will enable zombies to despawn in slime aswell very soon.

[2016-04-12 22:42] Zet0rz opened #130 "Content Pack (Remaining Models)"
Here's a little to-do list (mainly for myself) of the remaining stuff before a content pack can be made:
- ~~Hellhounds updated to have smaller hitbox (get stuck in doors right now)~~
- ~~Der Wunderfizz~~
- ~~Off models for all perks we don't already have them for~~
- ~~Fire Sale drop~~
- Death Machine drop + weapon (?)
- The Wunderwaffe-DG2 (?)
- Potentially Widows Wine models and possibly ~~upco

[2016-04-12 22:44] lolleko commented on #130
I really hope that all is not pre workshop lol :D

[2016-04-12 23:00] Zet0rz commented on #130
Hellhound fix, off models, Der Wunderfizz are (if possible). The rest are depending on how much time I have before Workshop release in terms of other features still needed.

[2016-04-12 23:01] Zet0rz commented on #101
Collecting all missing model parts into one issue #130

[2016-04-12 23:01] #101 closed, assigned to nobody

[2016-04-12 23:01] Zet0rz commented on #90
Will assume fixed.

[2016-04-12 23:01] #90 closed, assigned to nobody

[2016-04-12 23:01] Zet0rz commented on #64
Closing as it is being investigated in newer issue with  more info.

[2016-04-12 23:01] #64 closed, assigned to nobody

[2016-04-12 23:12] Alig96 opened #131 "The branch should be renamed to master-changes"
There is an issue on linux where it doesn't support capital letters in addon folders. So it makes it easier for linux installs.

[2016-04-12 23:48] minin43 commented on #130
You can probably find the Death Machine model on the workshop

[2016-04-13 00:51] lolleko commented on #126
Added in #133. Zombies should now despawn in slime/sludge. Needs testing tho.

[2016-04-13 00:56] lolleko commented on #121
Added in #132. Could still have some minor issues. Please report any issue here.

[2016-04-13 14:31] minin43 commented on #94
I want to bump this. With the addon nearing workshop release, we need to figure out what the default weapons are. As far as I know, the official gun packs are:
- Customizable Weaponry 2.0 (base)
- Spy's Extra Customizable Weaponry 2.0 Pack
- \- Please fill in the rest @Zet0rz -

The other pack I'd suggest using is:
- Black Ops 2 Remastered Pack (for CW2.0)

We also need to find a raygun to use.

[2016-04-13 15:13] DANJ16 opened #134 "Rounds and Money"
Every time I start Play Mode it never goes past Round 1.
Money is not earned when killing zombies or hellhounds as well.

[2016-04-13 15:26] lolleko commented on #134
Can you provide additional info? Which config/map do you use? Could you possible have any other addons that interfere with this gamemode? Did you copy this repo into the addons or into the game modes folder?

[2016-04-13 16:09] minin43 opened #135 "Spawn Radius?"
Is there a convar to increase the spawn radius of zombies? Or is there some way we can lock parts of the nav mesh to allow/disallow zombie spawning? Some maps are fairly big, and very often zombies further away just wont spawn.

[2016-04-13 16:14] Zet0rz commented on #135
The radiusses are hard-coded, but we can change them internally. Zombies will only ever spawn on spawnpoints, if they aren't spawning, you need to place some more.

[2016-04-13 16:15] Zet0rz commented on #134
If you upgraded from Alig's version, you _need_ to completely delete the old one and drop the new one in. It also goes to `garrysmod/addons` rather than `garrysmod/gamemodes`.

[2016-04-13 16:16] Zet0rz commented on #130
Turns out the Hellhound collisions are not due to their models, but rather code. Sadly, the only fix is by lowering their CollisionBounds which makes you unable to shoot them in the head or tail :(

[2016-04-13 16:22] minin43 commented on #135
No, I mean I'm too far away from the spawn location for them to spawn. For some maps, the spawn radius needs to be increased.

[2016-04-13 16:23] Zet0rz commented on #135
We can probably make it a convar.

[2016-04-13 16:26] minin43 commented on #135
If could comment in some predefined values (short, mid, far) that'd be nice.

[2016-04-13 16:40] Zet0rz commented on #130
I have posted a thread on Facepunch about getting these, and people have told me of a way I can get the models directly from memory while the game is running. They also offered to get them for me (from the original games, I can only try via WaW Custom Maps) if I couldn't. So these are gonna be here in not-too-long :D

[2016-04-13 16:47] minin43 commented on #130
Some people are fantastic :D Try to get as much from the games as possible. They don't have to be used for the gamemode launch, but if you can get some stuff for future updates, that'd be awesome.

[2016-04-13 17:10] lolleko commented on #135
I don't know if a convar would be a good idea, since some configs could break if the convar is set to a value the config wasn't crated with. Maybe a map setting. Although we could probably increase the default amount, right now its 2000 which really isn't much.

[2016-04-13 17:10] Zet0rz commented on #112
Found the bug in the Black Ops Teaser weapon pack. It appears to be that weapon pack modifying (or maybe hooking) into the weapon switching mechanics, as it doesn't even call our hook at all. I will investigate further and hopefully get a fix soon, otherwise it's that weapon pack that needs updating.

Funny enough, using console command `use` makes you able to switch weapon. But lua_run'ing `playe

[2016-04-13 17:55] Zet0rz commented on #135
I don't think any configs are, or should, be built upon distance to spawnpoints, they are purely handled by whether their room so open or not, so nothing should break. In case people _really_ want to dynamically open and close these, they'd need to modify the `Doors.OpenedLinks` table via a map script. Same script could also change the convar.

[2016-04-13 18:06] DANJ16 commented on #134
What is al info exactly?

I've used the gmemode on a few maps such as gm_flatgrass and 2Fort:
Invasion.

Maybe, I don't have many add ons on my Garry's Mod at the moment. I'll try
disabling them all at once and see if it solves the problem.

I have not done anything else except throwing the entire folder in my
addons folder. (As the instructions tell me)

I have never used any other version of thi

[2016-04-13 18:18] Zet0rz commented on #134
Check your config file: `addons/[your nzombies folder]/gamemodes/nzombies3/gamemode/config/sh_constructor.lua`. Look at the ValidEnemies table (started at line 30) and see it has `nz_zombie_walker`, `nz_zombie_special_burning` and `nz_zombie_special_dog` in it. This is the table it uses to determine which entities give points.

But honestly, the fact that your rounds don't progress suggests to me

[2016-04-13 18:21] DANJ16 commented on #134
Alright I'll check it out.

Yes I do get a lot of errors in to console menu.

On Wed, Apr 13, 2016 at 1:18 PM, Zet0rz notifications@github.com wrote:

[2016-04-13 18:23] DANJ16 commented on #134
Alright I'll check it out.

Yes I do get a lot of errors popping up in the console menu.

If I somehow did not install it correctly, then how do you install the
gamemode correctly?

On Wed, Apr 13, 2016 at 1:18 PM, Zet0rz notifications@github.com wrote:

[2016-04-13 18:33] Zet0rz commented on #134
Download the zip of the Master-Changes branch, open it. Drag that folder inside into `garrysmod/garrysmod/addons`. It should only appear in the gamemode list on the bottom right if you installed it correctly. For it to do this, this path has to be valid: `garrysmod/garrysmod/addons/[any name]/gamemodes/nzombies3/nzombies3.txt`

[2016-04-13 18:38] Zet0rz commented on #112
Found the bug. It appears to be _(really)_ bad coding on the weapon pack. Take a look at this:
`hook.Add("CreateMove", "NeuroMicroFixUpsideDownView", function( usercmd )
    local ply = LocalPlayer()
    return usercmd
end )`
This code takes your local player, then does nothing. And then it returns, meaning all other hooks under CreateMove will not run (including our weapon switch one). This gun m

[2016-04-13 18:38] #112 closed, assigned to Zet0rz

[2016-04-13 18:39] DANJ16 commented on #134
Yeup. That is the way I installed it. It does show up in the bottom right.

On Wed, Apr 13, 2016 at 1:33 PM, Zet0rz notifications@github.com wrote:

[2016-04-13 18:40] Zet0rz commented on #134
Give us some errors and we can look into it.

[2016-04-13 18:41] DANJ16 commented on #134
Alright

On Wed, Apr 13, 2016 at 1:40 PM, Zet0rz notifications@github.com wrote:

[2016-04-13 19:17] minin43 commented on #135
There are definitely spots in some maps were zombies don't spawn because you're too far away.

[2016-04-13 19:29] Worset opened #136 "Loading Configs"
I have tried to load up a config I made, but when it opens, the console produces this error:
[ERROR] addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/interfaces/sh_int_configloader.lua:112: bad argument #1 to 'pairs' (table expected, got nil)
1. pairs - [C]:-1
   1. unknown - addons/nzombies-master-changes/gamemodes/nzombies3/gamemode/interfaces/sh_int_configloader.lua:112
   2. func -

[2016-04-13 20:17] Zet0rz commented on #136
Hopefully your configloader should look like this:
![](http://i.imgur.com/n3Pip9l.png)
If it doesn't, did you perhaps install this version on top of Alig's?

[2016-04-13 20:30] Worset commented on #136
No, just tried installing again and nothing has changed.
Which is strange because a few updates ago, it worked just fine.
I think it was around when the 'Workshop Config Support' update came out where it stopped working for me.

[2016-04-13 20:40] minin43 opened #137 "Maximum Player Notice"
Can you include a "maximum player amount" in the config loader?

[2016-04-13 21:02] Alig96 commented on #137
Just limit the server player slots of the server?

[2016-04-13 22:07] Zet0rz commented on #136
Alright found the bug. It seems to happen if the table isn't valid. Pushed a fix with commit 120842402358ca44d4115f617fb22c7730a04ac8

[2016-04-13 22:07] #136 closed, assigned to nobody

[2016-04-13 22:12] Zet0rz commented on #137
I think he means so servers can dynamically change or so that the loader will display how many players a map was made for (for smaller maps).

There's some limitations with the config loader, and that is that it can only load the file name. It gets every bit of information from the file name and location. Local if the file is in /data/nz/, Workshop if in /lua/nz/ and official if in /gamemodes/nzom

[2016-04-13 22:13] Zet0rz commented on #135
But there are no maps built based on the fact that they don't spawn; it's unintentional. (Just saying that it won't break any configs as no config should depend on the distance being lower or higher, it would just lower the spawn rate)

[2016-04-13 22:38] Alig96 commented on #137
Are you sure? Just add more semi-colons and string explode??

[2016-04-13 22:39] Alig96 commented on #137
Oh I understand, you want to add meta-information. This is where a wrapper would come in handy.

[2016-04-14 01:03] minin43 commented on #137
Can't you just get a variable that adds up all of the placed player spawns and when loading, under each config file has a line that says "Maximum players: #" so people know what each config is set up for?

[2016-04-14 01:04] minin43 commented on #135
Right, it's unintentional. Can we change that, then?

[2016-04-14 01:13] Alig96 commented on #137
With the current loading system it wouldn't be able to read the variable until after it has already been loaded, which means it can't be displayed in the menu before loading, you would only know the number after they press load.

[2016-04-14 02:02] minin43 opened #138 "Hellhounds aren't spawning in the correct spots"
Titles describes the issue. I have experienced time and time again hellhounds spawning behind barricaded areas, where the regular zombie spawns are. Dunno why, but it really needs to be fixed.

[2016-04-14 02:08] minin43 commented on #137
Surely there's some way it could be made so that the gamemode always "loads" a tiny portion of the config file (or a second one entirely) that provides the server with this information? Or am I fantasizing?

[2016-04-14 02:10] minin43 opened #139 "Limiting PaP Attachments"
I'm creating a Pull Request tied to this, but is there a way we can force certain attachments on some weapons?

The AK-74 has the "74U" attachment to it, and having the PaPed version of the AK-74 being titled the AK-74U with the "74U" attachment ALWAYS equipped is nice for consistency reasons. If this could be made so map creators such as myself, or at the very least server owners, have control ov

[2016-04-14 03:27] minin43 commented on #139
Yea I can't figure out how the fuck github desktop works. It's so confusing it's legit pissing me the hell off. Really wanna explode in anger right now, but I'm gonna try not to. I need help with this.

[2016-04-14 05:53] DANJ16 commented on #134
I found what was causing the problem. One one of my older addons was
causing the errors which was screwing up the entire gamemode. So I simply
deleted it and now the gamemode works fine. cheers! ^^

On Wed, Apr 13, 2016 at 1:41 PM, Dan Jacobson™ danjacobson58@gmail.com
wrote:

[2016-04-14 05:54] DANJ16 commented on #134
I found what was causing the problem. One one of my older addons was
causing the errors which was screwing up the entire gamemode. So I simply
deleted it and now the gamemode works fine. Thanks for the help! ^^

On Wed, Apr 13, 2016 at 1:41 PM, Dan Jacobson™ danjacobson58@gmail.com
wrote:

[2016-04-14 06:26] #134 closed, assigned to nobody

[2016-04-14 07:14] Zet0rz commented on #139
This is gonna be a rather complicated thing to implement, but should be possible. I'd have to put a table which contains banned (or whitelisted instead?) attachments for any weapon, but you'd have to modify that server-side and it wouldn't carry over with your configs to other players.

To use Github, all you have to do is make it register your nzombies installation, then just modify its code like

[2016-04-14 07:20] Zet0rz commented on #137
I don't really _want_ to add it, I think it's good as it is. Using a wrapper though would be the same as loading the actual config (without generating it).

I can do that, but I can't fit everything in there. You can imagine how silly it'd look like `nz_ttt_kosovos;Breakout;Zet0r;2-6;Hard.lua`. I won't be putting a lot in the file name, have to keep them simple.

You can't load part of a file, how

[2016-04-14 07:42] Zet0rz commented on #138
It is likely due to the normal spawnpoints being included in the table of valid spawnpoints for the hellhounds.

[2016-04-14 07:44] Zet0rz commented on #121
If there are issues with the Nav Editor tool, post them in a new issue.

[2016-04-14 07:44] #121 closed, assigned to lolleko

[2016-04-14 10:13] Zet0rz commented on #129
Commit 614c4e3c8af72e3fecfa8826df90283783b19af1 fixes this

[2016-04-14 10:14] #129 closed, assigned to nobody

[2016-04-14 10:15] Zet0rz commented on #138
Turns out it's the respawning that doesn't take their type into account. It was fixed in commit 614c4e3c8af72e3fecfa8826df90283783b19af1

[2016-04-14 10:15] #138 closed, assigned to nobody

[2016-04-14 10:16] Zet0rz commented on #135
Commit 614c4e3c8af72e3fecfa8826df90283783b19af1 increases this from 1500 to 2500. Let us know how it plays.

[2016-04-14 12:42] func-octo commented on #135
If you do decide to make it a convar, could it be `nz_zedSpawnRadius (Int Value)`?

[2016-04-14 13:23] Zet0rz commented on #135
I keep seeing "Zed" but isn't it "Zombies"? I'd rather make it `nz_zombiespawnradius`

[2016-04-14 14:26] minin43 commented on #135
Zed is essentially the Euro/British way of saying Zombie. It's also British for Z (us Americans say "zee" and the British say "zed")

[2016-04-14 15:38] Zet0rz commented on #127
A little update screenshot. In this I created 4 items with the Ruby icon, and once picked up, this is how it looks:
![](http://i.imgur.com/ouHMqhL.png)

[2016-04-14 16:05] lolleko commented on #135
I am working on a more dynamic spawn system, that doesn't depend on a radius. So there will be no convar. I will keep you posted.

[2016-04-14 16:08] minin43 commented on #135
yay

[2016-04-14 16:42] minin43 commented on #137
Call me inexperienced at coding Lua (or in general), because I am, but is there not a way to search files for specific lines of text? I know you can do it in Java, but Java is different from Lua.

[2016-04-14 16:47] minin43 commented on #139
Desktop Github and availability to map creators/server owners aside, can this just be done for the default guns? As a server owner, it isn't hard to just delete the attachments from the gun itself and limit it that way, and map creators can probably just do something through map scripts.

[2016-04-14 16:48] Zet0rz commented on #137
You can, but that _is_ reading the file. It is definitely possible, just not sure how efficient it really is, or how to even network it. And on top of that, there isn't really much more space in the loader :/

[2016-04-14 16:51] Zet0rz commented on #139
If I do this, it'd be through a table which lists either banned or whitelisted attachments. It'd probably come with some functions so people can do it in map scripts (similarly to PaP names), but it really is too much of a special case for me to do it normally. It will _only_ be available through file modification, and by extension, _only_ apply to the server it was modified on. But that should be

[2016-04-14 16:54] minin43 commented on #139
I can just delete the attachments from the guns, and limit it that way. But the server we play on is just run off my dekstop, it won't be up much more than it is now; when I want to play with others online.

[2016-04-14 17:09] lolleko commented on #137
Maybe create a file in addition to a map config that holds all that information and info.txt. Change the map cfg system to use folders that contain multiple txts rather than just one txt for everything. So there would be a  folder called `mymapconfigstuff/` and that contains inside `info.txt` `config.txt`. This would also remove the need for those odd semicolons in filenames. But thats a lot of wo

[2016-04-14 17:15] minin43 commented on #137
The more user-friendly the better. A lot of 12 year olds will be playing this gamemode. I would heavily recommend creating something for this, but I will relent if it honestly is too much work.

[2016-04-14 17:26] Zet0rz commented on #127
Added in commit 1ee28cb6be7db5bb8b6a5ae2c24d7ef2e17ca166

[2016-04-14 17:26] #127 closed, assigned to Zet0rz

[2016-04-14 17:28] Zet0rz commented on #137
I don't think extra work on our side is bad if it means more user-friendliness to players. But in this case, it isn't really needed in my opinion. So it's not that I don't want to do it, it's that it's such a small deal that it just isn't worth it, even less so when you think of what the server has to network and how cramped the load screen would become.

I don't think this will become a thing.

[2016-04-14 17:28] minin43 opened #142 "Would anyone like resources from BO/BO2/BO3?"
I have BO3 and buying BO/BO2 here soon (Activision Publisher Weekend sale on Steam). Does anyone need any models from the games?

[2016-04-14 17:30] Zet0rz commented on #142
Can you extract from BO3? I'm not sure there's any tools for that yet. But there is the list of needed models, if you could get some of those, then that'd be perfect! Just something raw that I can load into Maya, then I can handle the animating and rigging and compiling.
Also didn't list it, but I really want to get the Gersch Device, I just love that weapon xD

[2016-04-14 18:18] minin43 commented on #137
@Zet0rz For my workshop releases, I can include a maximum player counts in the addon descriptions.

[2016-04-14 18:21] Zet0rz commented on #137
If you guys _really_ want metadata (not maximum players, probably just Creator, maybe difficulty or description), then I can look into trying it. But I'm not sure if it's good or bad, of how I can get space in the load interface. And if I do make it, it'll be metadata saved directly into the same config file, which is then read on /load (for all configs). I can probably make it a convar too, so th

[2016-04-14 18:26] Zet0rz commented on #137
Yeah in general, most metadata should be on the Workshop page for the file. I could possibly, if I make the few pieces of metadata, include the Creator and make the Workshop text become a link linking to the workshop (you'd then input the Workshop ID in Map Settings after updating it)

[2016-04-14 20:21] minin43 commented on #137
Don't feel pressured into doing this if it's too much work, or trying to fit it in before the gamemode workshop release. Take your time, I'll take quality of quantity.

[2016-04-14 21:32] lolleko opened #143 "Update the remaining modules to the "new" system."
We should update the remaining modules, to keep everything clean and uniform.
Here is a list of modules left that still use the "old" format, I will try to keep it updated.
- ~~Config~~ (#153)
- ~~Curves~~ (#153)
- ~~Easter Eggs~~ (a23509f)
- ~~Misc~~ (#153)
- ~~Navigation~~ (74fab22068764468b23fd6d1a108883365ef7051)
- Notifications
- ~~Perks~~ (e1adc4221647e3426beada126eaace510b9d78bc)
- ~~Poweru

[2016-04-14 21:33] Zet0rz commented on #143
Easter Eggs just done with commit a23509fb93fa650e563a8df93aea8fb4e3c08d68

[2016-04-14 22:08] minin43 opened #146 "Server console being spammed with unnecessary information"
This was only starting the round, letting the 5 zombies spawn, and then dieing.

I deleted messages that were map-specific.

[2016-04-14 22:27] Zet0rz commented on #146
I was sure I removed the entity spawnpoint list? Anyway, Lolle is remaking that so it will likely be gone by then. As to the rest of it, those are mainly debug/status messages. They will probably stay here until the end of beta and then be removed at the final cleanup update before workshop release.

[2016-04-14 22:48] Alig96 opened #147 "Lock the elevator after the timer is up for pap"
ents.FindByName("ele_call_up")[1]:Fire("Lock")

[2016-04-14 23:15] Zet0rz commented on #147
I believe I added non-buyable flag to the buttons themselves directly in the config. This should stop them from being used by players. Is this not the case?

[2016-04-14 23:31] Alig96 commented on #147
The first time you load the map and find the gas canister legit is fine and all, its the second time, you don't need another gas canister to recall the elevator, you can just call it the second time and everytime after finding it once

[2016-04-14 23:41] #126 closed, assigned to lolleko

[2016-04-15 01:26] Alig96 commented on #137
Okay I'm going to make 1 last cry for a wrapper system. You can then also combine the map scripts and the config in 1 file instead of having them separated. So you can have meta-data, the config and map script all in 1 file to keep them organised

[2016-04-15 03:22] minin43 opened #148 "Hellhounds Root You"
When Hellhounds attack you, they root you in place, and you're unable to move until you kill them. If you don't have Juggernog, it doesn't take more than 2 seconds for a single hellhound to kill you, usually making round 6 INCREDIBLY difficult to complete.

[2016-04-15 03:37] minin43 opened #150 "Can we change some of the PaP names?"
Some of these are kind of stupid :\

AR-15 to "All-Right15"?
G3A3 to "G3T-B3TT3R"?
MR96 to "Mr. Rekker 96"?
Kimber K(night)W(arrior) to "Kimber Knight Warlord"?
XM1014 to "XTREME1015"?

How about ones like: MR96 to "MR73 Gendarmerie" or the M1911 to "Colt Mk. IV Series 80"? Y'know, the gun's actual variants in real life, not some lame, made-up-on-the-spot ones. At least in CoD the gun's new names

[2016-04-15 04:09] minin43 commented on #139
If you aren't up for doing this, or at least anytime in the near future, go ahead and close this.

[2016-04-15 05:01] Zet0rz commented on #147
Can you confirm it is still possible with the latest version?
Edit: Yeah, I can confirm it still happens. I will likely push a fix together with the major easter egg which is the next part. After that, the map should be complete.

[2016-04-15 05:21] Zet0rz commented on #150
in CoD the names _are_ silly (mostly), and many use leet as well. ".357 Magnum" ---> ".357 Plus 1 K1L-U", "SMR" ---> "SM1L3R". Of course many are also well thought-out, more so than what I've managed to come up with, so feel free to suggest new names to use, but I'm not much for using other gun variants; it has to be funny in some way.

[2016-04-15 07:08] Zet0rz commented on #137
Downloading a seperate zip is not good for user-friendliness. Whichever solution we pick, it has to be generated by the gamemode itself. I imagine I could do some experimenting with file.Read'ing the config files, checking for a Metadata table, then use that and ignore the rest. If you have 20+ configs, that's a lot of files to load though, but Alig pointed out that it might be a good idea to only

[2016-04-15 09:46] Zet0rz commented on #128
Buttons will likely not be available anyway, as any entity can be given an OnUse function (which you can check for a price, then subtract it), as well as text when you look at them, effectively making all entities able to become buttons. You'll probably wanna use `nz_script_prop` for this.

[2016-04-15 09:49] Zet0rz commented on #148
It is because their CollisionBounds are smaller than their physics model. So the bot will pathfind into you until its CollisionBounds hit you, but at that point you're inside its physics model, rendering you stuck. It will likely require a recompile, but that'd make its physics and awkward tiny pillar in its center. Still, that beats being stuck.

[2016-04-15 09:51] Zet0rz commented on #148
Nevermind, seems like it can be fixed by setting its solid type to SOLID_BBOX. Commit f0ff9184511a01c1c68de87ec5550b2206193de6 does this.

[2016-04-15 09:51] #148 closed, assigned to Zet0rz

[2016-04-15 12:58] lolleko commented on #135
Fixed with #151.

[2016-04-15 12:58] #135 closed, assigned to lolleko

[2016-04-15 12:59] lolleko commented on #143
Enemies done in #151.

[2016-04-15 13:02] minin43 commented on #150
Can we avoid doing the cringey "L33T SP3@K," at the very least? I've grown to hate it. Sure it might fit for a gun here and there (CoD RARELY uses it, most guns have actual names such as "The Reaper," which sounds badass and cool), but please let's stay away from it.

[2016-04-15 13:07] Zet0rz commented on #131
![](http://i.imgur.com/SMYeWWZ.png)
lol

[2016-04-15 13:14] Zet0rz commented on #150
I can't really go away from a certain aspect because some people hate it personally, even if I did myself I need to stay true to CoD as much as possible. However I agree there's a bit too much leet, I just couldn't really come up with too many good ones, but I can reduce the amount of leet names, I'll need some good suggestions (or just a good amount of time). If you have some suggestions, make su

[2016-04-15 14:06] minin43 commented on #150
Default Weapons
Renaming renames
- AK-74 -> "AK-4TW"
- AR-15 -> "XM16E3" or "AR-15 Porter"
- Deagle -> "Deagle Mk. XIX"
- G3A3 -> "G3/SG-1"
- L115 -> "L-ement 115"
- MP5 -> "MP10"
- MR 96 -> "MR73 Gendarmerie"
- UMP .45 -> "Unified Material Penetrator 4D5"

Guns that don't have a name:
- FN Five-Seven -> "FN Ten-Fourteen"
- G36C -> "G36C-MOR"
- M3 Super 90 -> "M3 Super Nova"
- M14 -> "M14 EBR"
- M

[2016-04-15 14:07] func-octo commented on #150
If you're familiar with the P90X Workout Programs (probably not since it's from America), you could name the P90 to 'P90X Ripper', or something not that stupid xD

The AK-47 could be renamed to Almighty-Killer 47W

@minin43
I think the L115 could be renamed to L-ement 115 instead of Element 115. :+1:

[2016-04-15 14:13] lolleko commented on #150
@ScriptnLua http://callofduty.wikia.com/wiki/Element_115
It wouldn't match the lore if you change that.

[2016-04-15 14:15] func-octo commented on #150
@lolleko
Thanks! But I already know what Element 115 is :)
It is what reanimated the dead, created the Hellhounds, etc.

True, but it's a Pap name joke. Still sounds like it too.

veni vidi vici - Julias Caesar

[2016-04-15 14:35] minin43 commented on #150
There is no P90 to rename

[2016-04-15 15:21] Zet0rz commented on #150
AK-47 is AK-4TW. The 74 is AK-74fu2

Renamed to "L-Emnt 115" to make it a bit less obvious, but still the same joke.

I feel like I should make Mustang and Sally just because of how iconic those were.

Will look more at them later, on to making the first major easter egg. Also, in your suggestions, please also put the classname so I don't have to go find it in the game, makes it a bit easier for m

[2016-04-15 15:38] minin43 commented on #150
The AK-74 was already named the "AK-4TW" in your file, I just put it here for consistency reasons.

Buuuuuut, the Mustang and Sally was 2 guns, named "Mustang" and "Sally." It shouldn't be named Mustang and Sally if you don't get dual pistols.

[2016-04-15 15:55] Zet0rz commented on #150
If I can't make the dual wield, I'll just make Mustang or the C3000-b1at-35 (WaW version).

[2016-04-15 16:01] minin43 commented on #150
Go with mustang

[2016-04-15 16:02] minin43 commented on #150
Although now that I think of it, I have an old CW2.0 addon that was dual-pistols. It's old so there are a few errors but other than that it works great

[2016-04-15 16:03] Alig96 commented on #150
Alright lads, we all know the Ak-47 should be the AG-96 hint hint nudge nudge

[2016-04-15 16:08] minin43 commented on #150
What?

[2016-04-15 16:46] Alig96 commented on #150
^Hint

[2016-04-15 19:36] lolleko commented on #146
Added DebugPrint function and loglevel, but keep expecting "unnecessary information".

[2016-04-15 19:36] #146 closed, assigned to nobody

[2016-04-15 19:43] #108 closed, assigned to lolleko

[2016-04-15 19:44] #61 closed, assigned to nobody

[2016-04-15 21:02] minin43 commented on #150
Is it supposed to be your name?

[2016-04-16 10:38] #41 closed, assigned to lolleko

[2016-04-16 10:51] #139 closed, assigned to nobody

[2016-04-16 11:35] lolleko commented on #143
Config, Curves, Misc done in #153.

[2016-04-16 18:01] Zet0rz commented on #130
All perk machines' off models was added in commit f56105a29daaab9e241cf626edb3e6a1bf373b11. I did those myself by taking the same models and removing the self-illumination on the textures.

I got the Wunderfizz from a friend with Origins, as well as many other cool props from there (The Panzer Soldat, the 115 generators, dead bodies on stakes and much more scenery). Those will be converted and imp

[2016-04-16 21:17] Zet0rz opened #154 "New Config Structure? (Metadata, Workshop)"
So we've been discussing the idea of metadata and stuff to load with configs for the load interface. We've been discussing some potential solutions, but we'd like you to give your opinions on the things we came up with:

**Addons in Addons:**

Every config would be structured like their own small addons. This means it'd look like this:
![](http://i.imgur.com/ACpUuch.png)

In this, all files relate

[2016-04-16 21:21] Zet0rz commented on #154
I'm kinda hanging to the Workshop ID myself, I think it'd be cool if we could use http.Fetch to create a window on hover that lists the creators _current_ name, and then some information if we create a description structure template the http.Fetch could use to seperate information.

[2016-04-16 22:09] lolleko commented on #154
While i think the "add ons in add on thing" would be the coolest. "Do nothing" sounds like it would involve the least work lol, that sounds really good aswell.

[2016-04-16 22:51] Alig96 commented on #154
The problem to this is that we don't know _how_ slow it makes it. If its slow enough to notice a major slow down then obviously not worth it, but if its a little network lag for a few seconds, is it really that bad? Think about everything else that is networked, this would be fractional compared to all that. You could also only request the meta data when the user has the file highlighted in the me

[2016-04-17 00:18] lolleko commented on #154
We could also addcsluafile the meta.lua file automatically, so there won't be any need for networking right?

Edit: Even if we need to network the information it should barely be noticeable if at all.

[2016-04-17 12:57] Zet0rz commented on #154
That's probably true, I'm just so used to micro-optimizations xD
But it is a lot of data if you have a fair few configs that all have long descriptions, creators name, player count, difficulty, and whatever else we add. I'm more worried about the slowdown of having to read all of them with all their files despite only needing to load 1 when you need to.

[2016-04-17 15:37] Zet0rz commented on #130
Update on Der Wunderfizz:
![](http://i.imgur.com/j6ZBaCE.png)

Now I just gotta figure out why it isn't animating at all lol

[2016-04-17 15:45] Worset commented on #150
How about a setting to change the names of any weapon after they are PaP'd? Food for thought. :)

[2016-04-17 16:08] Zet0rz commented on #150
As in while the game is running with a console command? It wouldn't be able to save it that way, at least not with how it is now. However there's already a function you can use in any lua script you may choose to put in autorun.

[2016-04-17 16:43] minin43 commented on #154
I like the most user-friendly option out there. As the Simpsons put it: "WHY WON'T ANYONE THINK OF THE CHILDREN?!"

[2016-04-17 17:37] Zet0rz commented on #154
Tell us which one that is. Because the way I see it is that doing nothing is the most user friendly; where making a config can be fully done by the gamemode itself, and packing for the workshop requires nothing but a drag'n'drop and a file extension rename. But this negates any type of metadata except the workshop ID solution.

[2016-04-17 20:44] minin43 commented on #154
The suggestion you like. It'll take more work for people like us who know what they're doing (in this regard), but at the end of the day, for the average (12 year old) player, it'll be nice to have all the information available.

[2016-04-17 20:48] Zet0rz commented on #154
So the workshop ID one?

[2016-04-17 21:55] minin43 commented on #154
Yes

[2016-04-17 22:31] lolleko commented on #154
Idk if the average 12 year old is even capable of creating a config we would even want on the workshop lol. But the workshop id is a good compromise. And if we do that we gonna have to make the link more visible than the screenshot version above, because  90% probably won't even notice it.

[2016-04-17 23:10] Zet0rz commented on #154
I was thinking of using http.Fetch to get info from the workshop when you hover over the icon of a config for a second. If we make this standard, then a lot of people would do it by themselves which would reveal whether it has a workshop or not.

But when I think about, the only way to get configs is through the workshop, so you'll _need_ to go through there anyway, meaning metadata isn't actually

[2016-04-18 08:11] Zet0rz commented on #143
I'll do Powerups and Perks when I add permaperks (easter egg reward) and the remaining powerups (perk bottle, blood money, zombie blood).

[2016-04-18 08:32] #122 closed, assigned to nobody

[2016-04-18 08:32] #115 closed, assigned to nobody

[2016-04-18 08:32] #113 closed, assigned to nobody

[2016-04-18 08:33] #99 closed, assigned to nobody

[2016-04-18 08:33] #137 closed, assigned to nobody

[2016-04-18 12:22] func-octo opened #155 "Soul Collecting Doors"
Would it be possible to add a setting for doors for the number of souls (souls collected by zombies being killed within a certain radius of it) it must collect before opening? This would help with those special maps with extra areas.

If you do, there is usually a short particle trail that comes from the newly dead zombie and travels to the door.

[2016-04-18 12:25] func-octo commented on #47
What I meant above is that as soon as the first player hits ready, nobody can ready, even during the countdown, and that first player must do the first round alone. (First player hits ready button, others see Drop-In button.) But it seems to be fixed now. :)

[2016-04-18 12:26] Zet0rz commented on #155
See the [Soul Catcher](https://github.com/Zet0rz/nzombies/tree/Master-Changes/lua/entities/nz_script_soulcatcher) Entity available to be used in Map Scripts. Code it to open a door once filled and set its position to be on the door so the souls fly there.

[2016-04-18 12:26] #155 closed, assigned to nobody

[2016-04-18 12:27] Zet0rz commented on #47
I've noticed you can't _unready_ lol. And we'll wanna have Spectators also show up as Spectators in the list (or not show up at all), as well as not count towards starting the game.

[2016-04-18 12:36] func-octo opened #156 "Hammer FGD support."
My friend would like to know if he would be able to use hammer to place things like zombie spawns and such instead of gmod. He says he would like to do this is hammer because it is easier for him, and so he could bind the config to his map when he pushes it to the workshop? Is this possible?

[2016-04-18 12:37] func-octo commented on #47
Ok ☑️

[2016-04-18 12:48] Alig96 commented on #156
Should be possible. Would need an accompanying .fgd file. I think it should be added to the todo list. Here's an example as reference for anyone who wants to make one for nzombies: https://github.com/garrynewman/garrysmod/blob/master/garrysmod/gamemodes/terrortown/ttt.fgd

[2016-04-18 13:11] Zet0rz commented on #156
While it is highly possible, I don't think it will be a very good idea as it would prevent any other config from being made on the map because the entities are bound to the map; they would spawn regardless of the config loaded, and on every cleanup. Map creators should really create configs like normal and ship them with the map. A potential idea is to make the .fgd contain a single entity that de

[2016-04-18 13:39] func-octo commented on #156
@Zet0rz I agree. But if the map creator only wants his config to be used this would work, right? He knows a million times more about hammer and lua than I do, and he sais he would include a checker to see what gamemode the map was launched in.

[2016-04-18 14:06] func-octo opened #157 "Can Zombies Be Killed By Fast-Moving Entities?"
If for some reason a map maker intends to have a drivable vehicle in their map, or some sort of smashy trap, would it kill the zombies like it would a player if crushed or run over?

[2016-04-18 14:17] Alig96 commented on #157
Fairly sure the zombies can take physics dmg, but might need Lolle to confirm

[2016-04-18 14:29] Zet0rz commented on #157
I think entities can by default and that we haven't done anything specific to prevent it. But there's only one way to try! lol

[2016-04-18 14:32] Zet0rz commented on #156
@ScriptnLua Of course a checker (wouldn't even be needed, the entities would only exist in our gamemode), but the problem lies in other configs in this same gamemode. I wouldn't want to allow people the option of forcing their configs onto other people. And even if so, I'm not sure it'd even work as cleaning up the map excludes these entities, but the cleanup function would then create them again,

[2016-04-18 16:04] func-octo commented on #156
🆗 ✔️

💻  + 01101110 = Matrix

Sometimes they run into physics props and this happens btw.
**nz_ZombieWalker** 🚽 **Scriptn' Lua**

[2016-04-18 16:40] Zet0rz commented on #156
They kill you with props? lol

[2016-04-18 17:14] lolleko commented on #157
I am pretty sure nexbots dont take physics damage (they dont take fall damage aswell), at least not by fast moving props. Most of the times the prop just glitches through a bot. I guess I could code something in to mimic default physics damage, but i am not sure if I should.

[2016-04-18 17:24] func-octo commented on #157
Sure you should! Just make it a module for map scripts so they can go into the map script and type something like `ent:TakesEntityDamage(true)` or something like that. :question:

[2016-04-18 17:26] func-octo commented on #156
Like those cones on some tf2 maps. They touch it, the cone spazzes out, and murders me. (Those darn sniping cones!)

[2016-04-18 17:43] Zet0rz commented on #157
Fall damage needs to be off though, zombies don't take fall damage.

[2016-04-18 18:07] lolleko commented on #156
Lol as far as I can remember there werent any prop_physics in official tf2 maps (at least not moving ones).

[2016-04-18 18:15] minin43 commented on #157
That would be the thing to look out for.

[2016-04-18 23:18] func-octo commented on #156
In the Tough Break update, they made it so all cones in all maps now have physics from explosions and what not. They respawn when no one is looking where they once were (stealthy, sniping cones...)

[2016-04-19 11:13] func-octo opened #158 "More Chat Commands (Mark as enhancement and suggestion)"
Take a look at https://github.com/Splerge/nzombies for ideas on chat commands. Just something to look at. The last commit has the details.

[2016-04-19 12:02] func-octo commented on #154
This might be a stupid question. What is Metadata? And will this change how we upload to the workshop?

[2016-04-19 13:08] Zet0rz commented on #154
@ScriptnLua Metadata is data about the config that is outside the config itself. It's the creators name, descriptions, thumbnails, and other info you would put on it (basically what you would put on a workshop page).

And depending on the solution we decide to use, then yes, it will make it take some more work to upload to the workshop as this stuff can't be done in-game. Basically this is what wo

[2016-04-19 13:10] func-octo commented on #154
@Zet0rz Do't forget we can get temp banned for uploading more than one thing to the workshop in a day...

[2016-04-19 13:13] Zet0rz commented on #158
We already have `/givepoints`. We want to make buttons for admins to drop other players into Creative Mode, so that accounts for `/createall`. We have a console command to change round (and this one works fully) called `nz_forceround`, and you can even decide a specific round by doing `nz_forceround 1000`. We have `/giveperk`, but not one for all. `/respawnbox` is pointless in our case, as we have

[2016-04-19 13:14] Zet0rz commented on #154
@ScriptnLua You're not uploading 2 addons, you're updating the first one. That won't get you suspended. (Do you even get suspended for 2 addons in a day?)

[2016-04-19 13:16] Zet0rz commented on #156
Well @ScriptnLua, what is your friend's opinion on not having a .fgd? Or would he like one to determine which to autoload (and potentially have a seperate label like _Map Official _ or something to mark it)?

[2016-04-19 13:31] func-octo commented on #158
Your welcome, ut I didn't come up with those. Splerge did :) Feel free to send him a thank you. :+1:

[2016-04-19 13:31] func-octo commented on #158
I will keep putting things here though so keep it open :D

[2016-04-19 13:35] func-octo commented on #156
Yes. He would be doing this to make an official map with only that config on autoload function and then just the map itself separately in one addon. Sorta like DLC, but not DLC...

[2016-04-19 13:40] lolleko commented on #154
You can get suspended for multiple addons per day although I am not sureif  the maximum per day is 2.

[2016-04-19 13:41] func-octo commented on #154
IDK, last time I checked it was, but that was 2009.

[2016-04-19 14:07] Alig96 opened #159 "Content pack: Create a new git repo"
When the pack is finalised, put it into its own repo.

This  makes it easier for dedicated server installs also include a resource.Add lua file just in a auto run

[2016-04-19 14:13] Alig96 commented on #154
Its to reduce spam. Also addons in addons, just make them fill out a table. If the user can't fill out the table then they shouldn't be uploading a config

[2016-04-19 14:34] func-octo commented on #159
What?

[2016-04-19 14:42] func-octo commented on #158
- [ ] /unstuck
  - teleports the player to the nearest player spawn point without killing them in case they get stuck somehow.
- [ ] /setPlayerMaxHealth
  - Allows the player to set their health if Admin
- [ ] /takePoints
  - Allows a SuperAdmin to take points from players for penalties or something (just a concept at this point)
- [ ] /killAllnz
  - Kills all monsters in the map in case you just